<div class="content-wrapper">
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
					<div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 float-none">
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2">
								<button id="bed-bed-menu" type="button" class="btn btn-sm-menu btn-outline-info active"><i class="fas fa-bed"></i>&nbsp;病床</button>
								<button id="bed-report-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-book-open"></i>&nbsp;日報</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<mc-bed-bed></mc-bed-bed>
	<mc-bed-report style="display: none;"></mc-bed-report>
</div>
