<div class="input-group date" id="cmn-timepicker" data-target-input="nearest">
	<label for="datePicker" class="pt-1 pr-2">時間:</label>
	<input type="text" class="form-control form-control-sm datetimepicker-input" data-target="#cmn-timepicker"/>
	<div class="input-group-append" data-target="#cmn-timepicker" data-toggle="datetimepicker">
		<div class="input-group-text"><i class="fa fa-clock"></i></div>
	</div>
</div>