<div class="input-group date" id="cmn-datepicker" data-target-input="nearest">
	<label for="cmn-datepicker" class="pt-1 pr-2">日付:</label>
	<input type="text" class="form-control form-control-sm datetimepicker-input" data-target="#cmn-datepicker">
	<div class="input-group-append" data-target="#cmn-datepicker" data-toggle="datetimepicker">
		<div class="input-group-text"><i class="fa fa-calendar"></i></div>
	</div>
</div>