<section class="content">
      <div class="container-fluid"> 
        <!-- Main row (Stat box) -->
        
		  <div class="row conf-user-area" id="conf-user-view">

          <!-- Tab-2 START -->
          <div class="col-12">
            <div style="text-align:right"><button class="btn btn-sm btn-secondary m-3" data-toggle="modal" id="conf-user-input-btn"><i class="fas fa-notes-medical"></i>&nbsp;新規登録</button></div>
                <div class="card">


              <div class="card-header">
                <h3 class="card-title"><i class="fas fa-comments"></i>&nbsp;ユーザ一覧</h3>
              </div>


              <!-- /.card-header -->
              <div class="card-body p-0">
                

                    <div class="table-responsive"> 
<table class="table table-sm bordered table-lr-none text-center mb-0 border-bottom">
  <tr><th>ID</th><th>名前</th><th>編集</th></tr>
  <tr id="user-list-item" style="display:none;"><td id="user-list-id"></td><td id="user-list-name"></td><td id="user-list-edit"><button id="user-list-btn" type="button" class="btn btn-default m-2" data-toggle="modal">編集</button></td></tr>
  <tbody id="user-list-item-body">
</tbody>  
</table>

                    </div>

            </div>
            <!-- Tab-2 /.END --> 
          </div>
        </div>
        <!-- /.row (main row) --> 
      </div>

		  <div class="row conf-user-area" id="conf-user-input" style="display:none">
 
        <!-- Tab-2 START -->
        <div class="col-12">
          <div style="text-align:right"><button class="btn btn-sm btn-secondary m-3" id="back-list-frominput" data-toggle="modal"><i class="fas fa-notes-medical"></i>&nbsp;もどる</button></div>
          <div class="card">

            <div class="card-header">
              <h3 class="card-title"><i class="fas fa-comments"></i>&nbsp;ユーザ登録</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">


              <section class="col connectedSortable ui-sortable" style="padding:1.5em;">
                <!--<div class="row mb-0">-->
                  <div class="form-row">
                  <div class="col-xl-2 col-sm-6">
                    <div class="form-group">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend" id="PatientID"><span class="input-group-text">ユーザID</span></div>
                      <input type="text" class="form-control" placeholder="123456789">
                    </div>
                    </div>
                  </div>
                  <div class="col-xl-2 col-sm-6">
                    <div class="form-group">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend" id="PatientID"><span class="input-group-text">パスワード</span></div>
                      <input type="text" class="form-control" placeholder="123456789">
                    </div>
                    </div>
                  </div>
                </div>
                  <!-- /.row -->

                  <div class="form-row">
                    <div class="col-xl-3 col-sm-6">
                      <div class="form-group">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend" id="BloodPressure"><span class="input-group-text">氏名</span></div>
                        <input type="text" class="form-control" placeholder="氏">
                        <input type="text" class="form-control" placeholder="名">
                      </div>
                      </div>
                    </div>

                  </div>


                  <div class="form-row">

                    <div class="col-xl-2 col-sm-2">
                      <div class="form-group">
                      <div class="input-group input-group-sm" id="PatientBradtype">
                        <div class="input-group-prepend"><span class="input-group-text">職種</span></div>
                        <select class="custom-select" id="inputGroupSelect04">
                        <option selected="">選択</option>
                        <option value="1">医師</option>
                        <option value="2">看護師</option>
                        <option value="3">准看護師</option>
                        <option value="4">理学療法士</option>
                        <option value="5">作業療法士</option>
                        <option value="6">言語聴覚士</option>
                        <option value="7">栄養師</option>
                        <option value="8">MSW</option>
                        <option value="9">事務員</option>
                        </select>
                      </div>
                      </div>
                    </div>
                    <div class="col-xl-2 col-sm-2">
                      <div class="form-group">
                      <div class="input-group input-group-sm" id="PatientSex">
                        <div class="input-group-prepend"><span class="input-group-text">性別</span></div>
                        <select class="custom-select" id="inputGroupSelect01">
                        <option value="1">男性</option>
                        <option value="2">女性</option>
                        </select>
                      </div>
                      </div>
                    </div>


                  </div>



                  <!-- /.row -->
                  
                  <!--自宅電話番号-->
                <div class="form-row">
                  <div class="col-xl-3 col-sm-6">
                    <div class="form-group">
                    <div class="input-group input-group-sm" id="PatientPhone">
                      <div class="input-group-prepend"><span class="input-group-text">携帯番号</span></div>
                      <input type="text" class="form-control" placeholder="045-000-0000">
                    </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6">
                    <div class="form-group">
                    <div class="input-group input-group-sm" id="PatientMobile">
                      <div class="input-group-prepend">
                      <span class="input-group-text">内線番号</span></div>
                      <input type="text" class="form-control" placeholder="090-0000-0000">
                    </div>
                    </div>
                  </div>
                </div>
                  <!-- /.row -->
                  
                <div class="form-row border-b-dotted">
                  <div class="col-xl-5 col-xs-12">
                    <div class="form-group">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend" id="Notes"><span class="input-group-text">備考</span></div>
                      <textarea class="form-control" rows="3" placeholder="詳細を記入"></textarea>
                    </div>
                    </div>
                  </div>
                </div>
                  


                
                  <div class="mt-5" style="text-align: center"><button class="btn btn-info">登録</button></div>
                <!--</div>-->
                </section>




                  </div>

          </div>
          <!-- Tab-2 /.END --> 
        </div>
      </div>


		  <div class="row conf-user-area" id="conf-user-edit" style="display:none">
 
        <!-- Tab-2 START -->
        <div class="col-12">
          <div style="text-align:right"><button class="btn btn-sm btn-secondary m-3" id="back-list-fromedit" data-toggle="modal"><i class="fas fa-notes-medical"></i>&nbsp;もどる</button></div>
          <div class="card">

            <div class="card-header">
              <h3 class="card-title"><i class="fas fa-comments"></i>&nbsp;ユーザ編集</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              

              <section class="col connectedSortable ui-sortable" style="padding:1.5em;">
                <!--<div class="row mb-0">-->
                  <div class="form-row">
                  <div class="col-xl-3 col-sm-6">
                    <div class="form-group">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend" id="PatientID"><span class="input-group-text">ユーザID</span></div>
                      <input type="text" id="conf-user-edit-id" style="pointer-events: none;" class="form-control" placeholder="000001">
                    </div>
                    </div>
                  </div>
                </div>
                  <!-- /.row -->
                <div class="form-row">
                  <div class="col-xl-2 col-sm-2">
                    <div class="form-group">
                    <div class="input-group input-group-sm" id="PatientBradtype">
                      <div class="input-group-prepend"><span class="input-group-text">職種</span></div>
                      <select id="conf-user-edit-jobtype" class="custom-select" id="inputGroupSelect04">
                      <option selected="">選択</option>
                      <option value="1">医師</option>
                      <option value="2">看護師</option>
                      <option value="3">准看護師</option>
                      <option value="4">理学療法士</option>
                      <option value="5">作業療法士</option>
                      <option value="6">言語聴覚士</option>
                      <option value="7">栄養師</option>
                      <option value="8">MSW</option>
                      <option value="9">事務員</option>
                      </select>
                    </div>
                    </div>
                  </div>
                </div>

                  <div class="form-row">
                    <div class="col-xl-4 col-sm-6">
                      <div class="form-group">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend" id="BloodPressure"><span class="input-group-text">氏名</span></div>
                        <input id="conf-user-edit-family-name" type="text" class="form-control" placeholder="氏">
                        <input id="conf-user-edit-first-name" type="text" class="form-control" placeholder="名">
                      </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-xl-4 col-sm-6">
                      <div class="form-group">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend" id="BloodPressure"><span class="input-group-text">カナ</span></div>
                        <input id="conf-user-edit-family-name-kana" type="text" class="form-control" placeholder="シ">
                        <input id="conf-user-edit-first-name-kana" type="text" class="form-control" placeholder="メイ">
                      </div>
                      </div>
                    </div>

                  </div>


                  <div class="form-row">
                    <div class="col-xl-2 col-sm-2">
                      <div class="form-group">
                      <div class="input-group input-group-sm" id="PatientSex">
                        <div class="input-group-prepend"><span class="input-group-text">性別</span></div>
                        <select  id="conf-user-edit-gender" class="custom-select" id="inputGroupSelect01">
                        <option value="1">男性</option>
                        <option value="2">女性</option>
                        </select>
                      </div>
                      </div>
                    </div>


                  </div>



                  <!-- /.row -->
                  
                  <!--自宅電話番号-->
                <div class="form-row">
                  <div class="col-xl-3 col-sm-6">
                    <div class="form-group">
                    <div class="input-group input-group-sm" id="PatientPhone">
                      <div class="input-group-prepend"><span class="input-group-text">携帯番号</span></div>
                      <input type="text" id="conf-user-edit-phone" class="form-control" placeholder="045-000-0000">
                    </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6">
                    <div class="form-group">
                    <div class="input-group input-group-sm" id="PatientMobile">
                      <div class="input-group-prepend">
                      <span class="input-group-text">内線番号</span></div>
                      <input type="text" id="conf-user-edit-inner-phone" class="form-control" placeholder="090-0000-0000">
                    </div>
                    </div>
                  </div>
                </div>
                  <!-- /.row -->

                <div class="form-row">
                  <div class="col-xl-3 col-sm-6">
                    <div class="form-group">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend" id="PatientID"><span class="input-group-text">パスワード</span></div>
                      <input type="text" id="conf-user-edit-password" class="form-control" placeholder="******">
                    </div>
                    </div>
                  </div>

                  <div class="custom-control custom-checkbox" style="margin-left:1em">
                    <input type="checkbox" class="custom-control-input" id="changePasswdCheck">
                    <label class="custom-control-label" for="customCheck1">変更する</label>
                  </div>

                </div>

                <div class="form-row border-b-dotted">
                  <div class="col-xl-5 col-xs-12">
                    <div class="form-group">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend" id="Notes"><span class="input-group-text">備考</span></div>
                      <textarea id="conf-user-edit-note" class="form-control" rows="3" placeholder="詳細を記入"></textarea>
                    </div>
                    </div>
                  </div>
                </div>
                  


                
                  <div class="mt-5" style="text-align: center"><button class="btn btn-info">登録</button></div>
                <!--</div>-->
                </section>

                  </div>

          </div>
          <!-- Tab-2 /.END --> 
        </div>
      </div>




      <!-- /.row (main row) --> 
    </div>

      <!-- /.container-fluid --> 
    </section>