
<div class="content-wrapper">
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
					<div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 float-none">
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2">
								<button id="conf-user-menu" type="button" class="btn btn-sm-menu btn-outline-info active"><i class="fas fa-bed"></i>&nbsp;ユーザ</button>
								<button id="conf-floor-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-book-open"></i>&nbsp;フロア</button>
								<button id="conf-room-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-book-open"></i>&nbsp;病室</button>
								<button id="conf-bed-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-book-open"></i>&nbsp;ベッド</button>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<mc-conf-user></mc-conf-user>
	<mc-conf-user-input style="display: none;"></mc-conf-user-input>
	<mc-conf-user-edit style="display: none;"></mc-conf-user-edit>
</div>