<!-- Main content -->
<section class="content">
	<div class="container-fluid"> 
		<!-- Main row (Stat box) -->
		<div class="row"> 
			<!-- Tab START -->
			<div class="col-12">
				<div class="card card-info card-tabs">
					<div class="card-header p-0 pt-1">
						<ul class="nav nav-tabs" id="tab-1-tab" role="tablist">
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title active" id="home-home-tab-1-1-tab" data-toggle="pill" href="home-home-tab-1-1" role="tab" aria-controls="home-home-tab-1-1" aria-selected="true"><i class="fas fa-user"></i>&nbsp;患者A&nbsp;<span class="badge badge-danger badge-pill">5</span></a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="home-home-tab-1-2-tab" data-toggle="pill" href="#home-home-tab-1-2" role="tab" aria-controls="home-home-tab-1-2" aria-selected="false"><i class="fas fa-calendar-alt"></i>&nbsp;施設運営&nbsp;<span class="badge badge-danger badge-pill">3</span></a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="home-home-tab-1-3-tab" data-toggle="pill" href="#home-home-tab-1-3" role="tab" aria-controls="home-home-tab-1-3" aria-selected="false"><i class="fas fa-comment-dots"></i>&nbsp;一斉通知&nbsp;<span class="badge badge-danger badge-pill">1</span></a> </li>
							<!--<li class="nav-item">
								<a class="nav-link" id="tab-1settings-tab" data-toggle="pill" href="#tab-1settings" role="tab" aria-controls="tab-1settings" aria-selected="false">Settings</a>
							</li>-->
						</ul>
					</div>
					<div class="card-body p-0">
						<div class="tab-content" id="home-home-tab-1-tabcontent">
							<div class="tab-pane fade show active" id="tab-1-1" role="tabpanel" aria-labelledby="tab-1-1-tab">
								<button class="btn btn-sm btn-secondary m-3" data-toggle="modal" data-target="#staticBackdrop-1"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</button>
								<!-- 新規作成ウィンドウ -->
								<div class="modal fade" id="staticBackdrop-1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-1" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<p class="modal-title" id="staticBackdropLabel-1"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</p>
												<button type="button" class="close" data-dismiss="modal" aria-label="閉じる"> <span aria-hidden="true">&times;</span> </button>
											</div>
											<div class="modal-body modal-body-text border"> あああああああああああああああああああああああああああああああああああ </div>
											<div class="modal-footer align-self-center">
												<button type="button" class="btn btn-info">送信</button>
											</div>
										</div>
									</div>
								</div>
								<!-- End/ 新規作成ウィンドウ -->
								<table class="table table-sm border-top">
									<tbody>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a><span class="badge bg-danger badge-pill ml-1">未読</span></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a><span class="badge bg-danger badge-pill ml-1">未読</span></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a><span class="badge bg-danger badge-pill ml-1">未読</span></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a><span class="badge bg-danger badge-pill ml-1">未読</span></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a><span class="badge bg-danger badge-pill ml-1">未読</span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade" id="tab-1-2" role="tabpanel" aria-labelledby="tab-1-2-tab">
								<button class="btn btn-sm btn-secondary m-3" data-toggle="modal" data-target="#staticBackdrop-2"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</button>
								<!-- 新規作成ウィンドウ -->
								<div class="modal fade" id="staticBackdrop-2" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-2" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<p class="modal-title" id="staticBackdropLabel-2"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</p>
												<button type="button" class="close" data-dismiss="modal" aria-label="閉じる"> <span aria-hidden="true">&times;</span> </button>
											</div>
											<div class="modal-body modal-body-text border"> あああああああああああああああああああああああああああああああああああ </div>
											<div class="modal-footer align-self-center">
												<button type="button" class="btn btn-info">送信</button>
											</div>
										</div>
									</div>
								</div>
								<!-- End/ 新規作成ウィンドウ -->
								<table class="table table-sm border-top">
									<tbody>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a><span class="badge bg-danger badge-pill ml-1">未読</span></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a><span class="badge bg-danger badge-pill ml-1">未読</span></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a><span class="badge bg-danger badge-pill ml-1">未読</span></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade" id="tab-1-3" role="tabpanel" aria-labelledby="tab-1-3-tab">
								<button class="btn btn-sm btn-secondary m-3" data-toggle="modal" data-target="#staticBackdrop-3"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</button>
								<!-- 新規作成ウィンドウ -->
								<div class="modal fade" id="staticBackdrop-3" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-3" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<p class="modal-title" id="staticBackdropLabel-3"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</p>
												<button type="button" class="close" data-dismiss="modal" aria-label="閉じる"> <span aria-hidden="true">&times;</span> </button>
											</div>
											<div class="modal-body modal-body-text border"> あああああああああああああああああああああああああああああああああああ </div>
											<div class="modal-footer align-self-center">
												<button type="button" class="btn btn-info">送信</button>
											</div>
										</div>
									</div>
								</div>
								<!-- End/ 新規作成ウィンドウ -->
								<table class="table table-sm border-top">
									<tbody>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a><span class="badge bg-danger badge-pill ml-1">未読</span></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a></td>
										</tr>
										<tr class="text-">
											<td><a href="#">ああああああああああああああああああああああああああああああああああああああああああああああ</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /.card --> 
				</div>
				<!-- /.card --> 
			</div>
			<!-- Tab /.END --> 
		</div>
		<!-- /.row (main row) -->
		
		<div class="row"> 
			<!-- Tab-2 START -->
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title"><i class="fas fa-comments"></i>&nbsp;チャット</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body p-0">
						<button class="btn btn-sm btn-secondary m-3" data-toggle="modal" data-target="#staticBackdrop-4"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</button>
						<!-- 新規作成ウィンドウ -->
						<div class="modal fade" id="staticBackdrop-4" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-4" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<p class="modal-title" id="staticBackdropLabel-4"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</p>
										<button type="button" class="close" data-dismiss="modal" aria-label="閉じる"> <span aria-hidden="true">&times;</span> </button>
									</div>
									<form action="#" method="post">
										<div class="modal-body modal-body-text border">
											<div class="input-group">
												<textarea class="form-control" rows="3" placeholder="メッセージ内容を入力し、送信ボタンを押下してください。"></textarea>
											</div>
											<div class="form-group mt-3">
												<div class="row">
													<div class="col-8">
														<div class="custom-file">
															<input type="file" class="custom-file-input" id="File">
															<label class="custom-file-label" for="File" data-browse="選択されていません"><i class="fas fa-paperclip"></i>ファイルを選択</label>
														</div>
													</div>
													<div class="col-4">
														<div class="custom-control custom-checkbox">
															<input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
															<label class="custom-control-label" for="exampleCheck1">提携医療機関へ公開</label>
														</div>
													</div>
												</div>
												<!-- /. row --> 
											</div>
											<div class="form-group"> <span class="mr-1"><i class="fas fa-check-circle"></i>確認依頼</span>
												<div class="form-inline">
													<select class="form-control">
														<option>クリニック内</option>
													</select>
													<select class="custom-select ml-1">
														<option>ユーザー選択</option>
														<option>ユーザー名</option>
														<option>ユーザー名</option>
														<option>ユーザー名</option>
														<option>ユーザー名</option>
													</select>
												</div>
											</div>
											<!--<input type="button" value="ユーザ選択" onclick="javascript:addConfUser()">--> 
										</div>
										<div class="modal-footer justify-content-center">
											<button type="button" class="btn btn-info">送信</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- End/ 新規作成ウィンドウ -->
						<table class="table border-top table-striped">
							<tbody>
								<tr>
									<td><!-- Conversations are loaded here -->
										
										<div class="direct-chat-messages direct-chat-info"> 
											<!-- Message. Default to the left -->
											<div class="direct-chat-msg">
												<div class="direct-chat-infos clearfix"> <span class="direct-chat-name float-left">ああああああああ</span> <span class="direct-chat-timestamp float-right">yyyy.mm.dd 14:00</span> </div>
												<!-- /.direct-chat-infos --> 
												<img class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image"> 
												<!-- /.direct-chat-img -->
												<div class="direct-chat-text"> ああああああああああああああああああああああああああああああああああああああああ </div>
												<!-- /.direct-chat-text --> 
											</div>
											<!-- /.direct-chat-msg --> 
											<!-- Message to the right -->
											<div class="direct-chat-msg right">
												<div class="direct-chat-infos clearfix"> <span class="direct-chat-name float-right">ああああああああ</span> <span class="direct-chat-timestamp float-left text-xs">yyyy.mm.dd 14:05</span> </div>
												<!-- /.direct-chat-infos --> 
												<img class="direct-chat-img" src="dist/img/user6-128x128.jpg" alt="message user image"> 
												<!-- /.direct-chat-img -->
												<div class="direct-chat-text"> ああああああああああああああああああああああああああああああああああああああああ </div>
												<!-- /.direct-chat-text --> 
											</div>
											<!-- /.direct-chat-msg --> 
										</div>
										
										<!--/.direct-chat-messages--></td>
									<td class="align-middle"><div class="text-center">
											<button class="btn btn-sm btn-secondary m-3" data-toggle="modal" data-target="#staticBackdrop-4"><i class="fas fa-notes-medical"></i>&nbsp;返信</button>
										</div></td>
								</tr>
								<tr>
									<td><!-- Conversations are loaded here -->
										
										<div class="direct-chat-messages direct-chat-info"> 
											<!-- Message. Default to the left -->
											<div class="direct-chat-msg">
												<div class="direct-chat-infos clearfix"> <span class="direct-chat-name float-left">ああああああああ</span> <span class="direct-chat-timestamp float-right">yyyy.mm.dd 14:00</span> </div>
												<!-- /.direct-chat-infos --> 
												<img class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image"> 
												<!-- /.direct-chat-img -->
												<div class="direct-chat-text"> ああああああああああああああああああああああああああああああああああああああああ </div>
												<!-- /.direct-chat-text --> 
											</div>
											<!-- /.direct-chat-msg --> 
											<!-- Message to the right -->
											<div class="direct-chat-msg right">
												<div class="direct-chat-infos clearfix"> <span class="direct-chat-name float-right">ああああああああ</span> <span class="direct-chat-timestamp float-left text-xs">yyyy.mm.dd 14:05</span> </div>
												<!-- /.direct-chat-infos --> 
												<img class="direct-chat-img" src="dist/img/user6-128x128.jpg" alt="message user image"> 
												<!-- /.direct-chat-img -->
												<div class="direct-chat-text"> ああああああああああああああああああああああああああああああああああああああああ </div>
												<!-- /.direct-chat-text --> 
											</div>
											<!-- /.direct-chat-msg --> 
											<!-- Message. Default to the left -->
											<div class="direct-chat-msg">
												<div class="direct-chat-infos clearfix"> <span class="direct-chat-name float-left">ああああああああ</span> <span class="direct-chat-timestamp float-right">yyyy.mm.dd 14:00</span> </div>
												<!-- /.direct-chat-infos --> 
												<img class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image"> 
												<!-- /.direct-chat-img -->
												<div class="direct-chat-text"> ああああああああああああああああああああああああああああああああああああああああ </div>
												<!-- /.direct-chat-text --> 
											</div>
											<!-- /.direct-chat-msg --> 
										</div>
										<!--/.direct-chat-messages--></td>
									<td class="align-middle"><div class="text-center">
											<button class="btn btn-sm btn-secondary m-3" data-toggle="modal" data-target="#staticBackdrop-4"><i class="fas fa-notes-medical"></i>&nbsp;返信</button>
										</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Tab-2 /.END --> 
			</div>
		</div>
		<!-- /.row (main row) --> 
	</div>
	<!-- /.container-fluid --> 
</section>
<!-- /.content --> 
