<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
					<div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 float-none">
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2">
								<button id="home-home-menu" type="button" class="btn btn-sm-menu btn-outline-info active"><i class="fas fa-home"></i>&nbsp;HOME</button>
								<button id="home-schedule-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-calendar-alt"></i>&nbsp;スケジュール</button>
								<button id="home-task-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-tasks"></i>&nbsp;タスク</button>
								<button id="home-mysetting-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-user-cog"></i>&nbsp;個人設定</button>
							</div>
						</div>
					</div>
					<!--<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Dashboard v1</li>
					</ol>--> 
				</div>
				<!-- /.col --> 
			</div>
			<!-- /.row --> 
		</div>
		<!-- /.container-fluid --> 
	</div>
	<!-- /.content-header --> 

	<mc-home-home></mc-home-home>
	<mc-home-schedule style="display: none;"></mc-home-schedule>
	<mc-home-task style="display: none;"></mc-home-task>
	<mc-home-mysetting style="display: none;"></mc-home-mysetting>
</div>