<div class="card">
	<div class="card-body login-card-body">
		<p id="login-errmsg" class="mb-3 text-danger text-center" style="visibility: hidden;">IDまたはパスワードが違います</p>
		<form id="login-form">
			<div class="input-group mb-3">
				<input id="login-id" type="ID" class="form-control" placeholder="ID">
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-user-alt"></span>
					</div>
				</div>
			</div>
			<div class="input-group mb-3">
				<input id="login-password" type="password" class="form-control" placeholder="パスワード">
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- /.col -->
				<div class="col">
					<button type="submit" class="btn btn-info btn-block">ログイン</button>
				</div>
				<!-- /.col -->
			</div>
		</form>

	</div>
	<!-- /.login-card-body -->
</div>