<table>
    <tr>
        <th>患者名</th>
        <th>オーダー</th>
        <th>アレルギー</th>
        <th colspan="2">献立</th>
        <th colspan="2">準備</th>
        <!--<th>配置</th>-->
    </tr>
    <tr id="order-inchg-eat-item" style="display: none;">
        <td>
            <span id="order-inchg-eat-name"></span><br>
            <span id="order-inchg-eat-orca-id"></span>
        </td>
        <td id="order-inchg-eat-order"></td>
        <td id="order-inchg-eat-allergy"></td>
        <td id="order-inchg-eat-status1"><input id="status1_chkbox" type="checkbox"></td>
        <td>
            <span id="act_user1"></span><br>
            <span id="act_datetime1"></span></div>
        </td>
        <td id="order-inchg-eat-status2"><input id="status2_chkbox" type="checkbox" name="" value="1"></td>
        <td>
            <span id="act_user2"></span><br>
            <span id="act_datetime2"></span></div>
        </td>
        <!--
        <td id="order-inchg-eat-status3"><input id="status2_chkbox" type="checkbox" name="" value="1"></td>
        <td>
            <span id="act_user3"></span><br>
            <span id="act_datetime3"></span></div>
        </td>
        -->
    </tr>
</table>
