<section class="content px-2">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
			<div class="card card-info card-tabs">
			<div class="card-header p-0 pt-1">
				<ul class="nav nav-tabs" id="order-inchg-tab-1-tab" role="tablist">
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link active card-title" id="order-inchg-tab-1-1-tab" data-toggle="pill" href="#order-inchg-tab-1-1" role="tab" aria-controls="order-inchg-tab-1-1" aria-selected="true"><i class="fas fa-portrait"></i>&nbsp;注射</a> </li>
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="order-inchg-tab-1-2-tab" data-toggle="pill" href="#order-inchg-tab-1-2" role="tab" aria-controls="order-inchg-tab-1-2" aria-selected="false"><i class="fas fa-user-edit"></i>&nbsp;食事</a> </li>
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="order-inchg-tab-1-3-tab" data-toggle="pill" href="#order-inchg-tab-1-3" role="tab" aria-controls="order-inchg-tab-1-3" aria-selected="false"><i class="fas fa-file-medical"></i>&nbsp;薬</a> </li>
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="order-inchg-tab-1-4-tab" data-toggle="pill" href="#order-inchg-tab-1-4" role="tab" aria-controls="order-inchg-tab-1-4" aria-selected="false"><i class="fas fa-clipboard-check"></i>&nbsp;検体検査</a> </li>
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="order-inchg-tab-1-5-tab" data-toggle="pill" href="#order-inchg-tab-1-5" role="tab" aria-controls="order-inchg-tab-1-5" aria-selected="false"><i class="fas fa-file-alt"></i>&nbsp;生理検査</a> </li>
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="order-inchg-tab-1-6-tab" data-toggle="pill" href="#order-inchg-tab-1-6" role="tab" aria-controls="order-inchg-tab-1-6" aria-selected="false"><i class="fas fa-file-alt"></i>&nbsp;細菌検査</a> </li>
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="order-inchg-tab-1-7-tab" data-toggle="pill" href="#order-inchg-tab-1-7" role="tab" aria-controls="order-inchg-tab-1-7" aria-selected="false"><i class="fas fa-file-alt"></i>&nbsp;放射線検査</a> </li>
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="order-inchg-tab-1-8-tab" data-toggle="pill" href="#order-inchg-tab-1-8" role="tab" aria-controls="order-inchg-tab-1-8" aria-selected="false"><i class="fas fa-file-alt"></i>&nbsp;リハビリ</a> </li>
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="order-inchg-tab-1-9-tab" data-toggle="pill" href="#order-inchg-tab-1-9" role="tab" aria-controls="order-inchg-tab-1-9" aria-selected="false"><i class="fas fa-file-alt"></i>&nbsp;手術</a> </li>
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="order-inchg-tab-1-10-tab" data-toggle="pill" href="#order-inchg-tab-1-10" role="tab" aria-controls="order-inchg-tab-1-10" aria-selected="false"><i class="fas fa-file-alt"></i>&nbsp;輸血</a> </li>
				</ul>
			</div>

			<div class="card-body p-0">
				<div class="tab-content" id="order-inchg-tab-1-tabcontent">
					<div id="order-inchg-tab-1-1" class="tab-pane active">
						<mc-order-inchg-shot></mc-order-inchg-shot>
					</div>
					<div id="order-inchg-tab-1-2" class="tab-pane">
						<mc-order-inchg-eat></mc-order-inchg-eat>
					</div>
					<div id="order-inchg-tab-1-3" class="tab-pane">
						<mc-order-inchg-med></mc-order-inchg-med>
					</div>
					<div id="order-inchg-tab-1-4" class="tab-pane">
						<mc-order-inchg-specimen></mc-order-inchg-specimen>
					</div>
					<div id="order-inchg-tab-1-5" class="tab-pane">
						<mc-order-inchg-phys></mc-order-inchg-phys>
					</div>
					<div id="order-inchg-tab-1-6" class="tab-pane">
						<mc-order-inchg-bfp></mc-order-inchg-bfp>
					</div>
					<div id="order-inchg-tab-1-7" class="tab-pane">
						<mc-order-inchg-rad></mc-order-inchg-rad>
					</div>
					<div id="order-inchg-tab-1-8" class="tab-pane">
						<mc-order-inchg-reha></mc-order-inchg-reha>
					</div>
					<div id="order-inchg-tab-1-9" class="tab-pane">
						<mc-order-inchg-ope></mc-order-inchg-ope>
					</div>
					<div id="order-inchg-tab-1-10" class="tab-pane">
						<mc-order-inchg-blood></mc-order-inchg-blood>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
