<div class="tab-content" id="tab-1-tabContent">
    <div id="tab-4-3" class="tab-pane active">
        <div class="row m-3">
            <div class="col-sm-4 text-right">
                <div class="">
                    <!-- SEARCH FORM -->
                    <form>
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="検索"
                                aria-label="Search">
                            <div class="input-group-append">
                                <button class="input-group-text" type="submit"> <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- <div class="row m-3">
            <div class="col-sm-8 col-8 align-text-bottom">
                <h4><i class="fas fa-chevron-left mr-1"></i> 2020年1月12日 <i class="fas fa-chevron-right ml-1"></i>
                </h4>
            </div>
        </div> -->
        <!-- /.row -->

        <!-- tab-content -->
        <div class="tab-content">
            <!-- 1F -->
            <div class="tab-pane active" id="First">
                <div class="row m-3">
                    <div class="table-responsive">
                        <!-- Table -->
                        <table class="border table-striped table-orderSheet-1">
                            <tbody>
                                <tr>
                                    <th width="23%">登録者</th>
                                    <th width="12%">対象人数</th>
                                    <th width="23%">登録日時</th>
                                    <th width="14%">詳細</th>
                                    <th width="14%">結果ファイル</th>
                                    <th width="14%">削除</th>
                                </tr>
                                <tr>
                                    <td class="border-r p-2">鈴木良子</td>
                                    <td class="text-center border-r p-2">12名</td>
                                    <td class="text-center border-r p-2">2020.5.20 15:45</td>
                                    <td class="text-center border-r p-2">
                                        <a class="text-primary"><u>詳細</u></a>
                                    </td>
                                    <td class="text-center border-r p-2">
                                        <a class="text-primary "><u>ファイル</u></a>
                                    </td>
                                    <td class="text-center p-2">
                                        <a class="text-primary "><u>削除</u></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.Table -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.tab-content -->
    </div>
</div>

<style>
a:hover {
    cursor: pointer;
}
</style>
