<div class="card-body p-0">
    <div class="row m-3"> 
        <div class="col-12">
            <div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 float-left">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a id="order-inchg-tab-4-1-tab" class="nav-link">院内検査</a></li>
                    <li class="nav-item"><a id="order-inchg-tab-4-2-tab" class="nav-link">外注検査</a></li>
                    <li class="nav-item"><a id="order-inchg-tab-4-3-tab" class="nav-link">結果登録</a></li>
                </ul>
            </div>
        </div>
    </div>

    <mc-order-inchg-specimen-in></mc-order-inchg-specimen-in>
    <mc-order-inchg-specimen-out style="display: none;"></mc-order-inchg-specimen-out>
    <mc-order-inchg-specimen-add style="display: none;"></mc-order-inchg-specimen-add>
</div>
