<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
			<div class="card card-info card-tabs">
			<div class="card-header p-0 pt-1">
				<ul class="nav nav-tabs" id="order-order-tab-1-tab" role="tablist">
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link active card-title" id="order-order-tab-1-1-tab" data-toggle="pill" href="#order-order-tab-1-1" role="tab" aria-controls="order-order-tab-1-1" aria-selected="true"><i class="fas fa-portrait"></i>&nbsp;一覧</a> </li>
					<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="order-order-tab-1-2-tab" data-toggle="pill" href="#order-order-tab-1-2" role="tab" aria-controls="order-order-tab-1-2" aria-selected="false"><i class="fas fa-user-edit"></i>&nbsp;詳細</a> </li>
				</ul>
			</div>

			<div class="card-body p-0">
				<div class="tab-content" id="order-order-tab-1-tabcontent">
					<div id="order-order-tab-1-1" class="tab-pane active">
						<mc-order-order-list></mc-order-order-list>
					</div>
					<div id="order-order-tab-1-2" class="tab-pane">
						<mc-order-order-detail></mc-order-order-detail>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
