<div class="card-body p-0">
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row m-3">
                <div class="col-sm-8">
                    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 float-left">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#First" data-toggle="tab">1F</a></li>
                            <li class="nav-item"><a class="nav-link" href="#Second" data-toggle="tab">2F</a></li>
                            <li class="nav-item"><a class="nav-link" href="#Third" data-toggle="tab">3F</a></li>
                            <li class="nav-item"><a class="nav-link" href="#Fourth" data-toggle="tab">4F</a></li>
                            <li class="nav-item"><a class="nav-link" href="#All" data-toggle="tab">全て</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row m-3">
                <div class="col-sm-8 col-8 align-text-bottom">
                    <h4><i class="fas fa-chevron-left mr-1"></i> 2020年1月12日 <i class="fas fa-chevron-right ml-1"></i>
                    </h4>
                </div>
            </div>

            <!-- tab-content -->
            <div class="tab-content">
                <div class="tab-pane active" id="First">
                    <div class="row m-3">
                        <div class="table-responsive">
                            <table class="border table-striped table-orderSheet-1 table-order-order-list">
                                <tbody>
                                    <tr>
                                        <th rowspan="2" width="22%">患者名</th>
                                        <th rowspan="2" width="6.5%">注射</th>
                                        <th colspan="3" width="19.5%">食事</th>
                                        <th colspan="3" width="19.5%">処方薬</th>
                                        <th rowspan="2" width="6.5%">リハ<br>ビリ</th>
                                        <th rowspan="2" width="6.5%">検査</th>
                                        <th rowspan="2" width="6.5%">レン<br>トゲ<br>ン</th>
                                        <th rowspan="2" width="6.5%">手術</th>
                                        <th rowspan="2" width="6.5%">輸血</th>
                                    </tr>
                                    <tr>
                                        <th width="6.5%">朝</th>
                                        <th width="6.5%">昼</th>
                                        <th width="6.5%">夜</th>
                                        <th width="6.5%">朝</th>
                                        <th width="6.5%">昼</th>
                                        <th width="6.5%">夜</th>
                                    </tr>
                                    <tr id="order-order-list-item" style="display: none;">
                                    <!-- <tr id="order-order-list-item"> -->
                                        <td id="order-order-list-pt-name" class="text-left"></td>
                                        <td><a id="order-order-list-inject" href="#"></a></td>
                                        <td><a id="order-order-list-eat-morning" href="#"></a></td>
                                        <td><a id="order-order-list-eat-lunch" href="#"></a></td>
                                        <td><a id="order-order-list-eat-dinner" href="#"></a></td>
                                        <td><a id="order-order-list-med-morning" href="#"></a></td>
                                        <td><a id="order-order-list-med-lunch" href="#"></a></td>
                                        <td><a id="order-order-list-med-dinner" href="#"></a></td>
                                        <td><a id="order-order-list-reha" href="#"></a></td>
                                        <td><a id="order-order-list-inspec" href="#"></a></td>
                                        <td><a id="order-order-list-roentgen" href="#"></a></td>
                                        <td><a id="order-order-list-surgery" href="#"></a></td>
                                        <td><a id="order-order-list-transfusion" href="#"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-order-order-list" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="Modal-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-white"><i class="fas fa-syringe"></i>&nbsp;注射　田中太郎　(2020/5/20)</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="m-3">
                            <p>ソリタ500ml<br>ペニシリン5ml</p>
                            <div class="progress-group">
                                <p class="mt-4 mb-2"><b>ステータス</b></p>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">オーダー</div>
                                        <div class="col-3">薬剤準備</div>
                                        <div class="col-3">混合</div>
                                        <div class="col-3">注射</div>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-gradient-yellow" style="width: 75%"></div>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4">済　15:12 （山田花子）</p>
                        </div>
                    </div>
                    <div class="modal-footer align-self-center">
                        <button type="button" class="btn btn-info" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>