<table>
    <tr>
        <th>患者名</th>
        <th>オーダー</th>
        <th colspan="2">調剤</th>
        <th colspan="2">配薬</th>
    </tr>
    <tr id="order-inchg-med-item" style="display: none;">
        <td>
            <span id="order-inchg-med-name"></span><br>
            <span id="order-inchg-med-orca-id"></span>
        </td>
        <td id="order-inchg-med-order"></td>
        <td id="order-inchg-med-status1"><input id="status1_chkbox" type="checkbox"></td>
        <td>
            <span id="act_user1"></span><br>
            <span id="act_datetime1"></span></div>
        </td>
        <td id="order-inchg-med-status2"><input id="status2_chkbox" type="checkbox" name="" value="1"></td>
        <td>
            <span id="act_user2"></span><br>
            <span id="act_datetime2"></span></div>
        </td>
    </tr>
</table>
