<div class="content-wrapper">
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
					<div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 float-none">
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2">
								<button id="order-order-menu" type="button" class="btn btn-sm-menu btn-outline-info active"><i class="fas fa-bed"></i>&nbsp;指示簿</button>
								<button id="order-inchg-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-book-open"></i>&nbsp;インチャージ</button>
								<button id="order-emg-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-clipboard-check"></i>&nbsp;緊急</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<mc-order-order></mc-order-order>
	<mc-order-inchg style="display: none;"></mc-order-inchg>
	<mc-order-emg style="display: none;"></mc-order-emg>
</div>