<div class="mc-order-ingch-barcode">
    <div class="action" id="mc-order-ingch-barcode-btn-back"><i class="fas fa-chevron-left mr-1"></i></div>
    <div class="preview" id="mc-order-ingch-barcode-target"></div>
</div>

<style>
    .mc-order-ingch-barcode {
        position: fixed;
        overflow: hidden;
        z-index: 8888;
        display: block;
        top: 0;
        left: 0;
        background: black;
    }

    .mc-order-ingch-barcode>.action {
        position: absolute;
        cursor: pointer;
        top: 10px;
        color: white;
        font-size: 20px;
        z-index: 2;
        left: 10px;
        padding: 6px 12px;
        border-radius: 20px;
        background-color: rgb(0 0 0 / 45%);
    }

    .mc-order-ingch-barcode .preview {
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .mc-order-ingch-barcode .preview>video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .mc-order-ingch-barcode .preview>canvas{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }
</style>