<div class="tab-content" id="tab-1-tabContent">
    <div id="tab-4-1" class="tab-pane active">
        <div class="row m-3">
            <!-- Floor -->
            <div class="col-sm-8">
                <div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 float-left">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#First" data-toggle="tab">1F</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Second" data-toggle="tab">2F</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Third" data-toggle="tab">3F</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Fourth" data-toggle="tab">4F</a></li>
                        <li class="nav-item"><a class="nav-link" href="#All" data-toggle="tab">全て</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.Floor -->
            <div class="col-sm-4 text-right">
                <div class="">
                    <!-- SEARCH FORM -->
                    <form>
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="検索"
                                aria-label="Search">
                            <div class="input-group-append">
                                <button class="input-group-text" type="submit"> <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row m-3">
            <div class="col-sm-8 col-8 align-text-bottom">
                <h4><i class="fas fa-chevron-left mr-1"></i> 2020年1月12日 <i class="fas fa-chevron-right ml-1"></i>
                </h4>
            </div>
        </div>
        <!-- /.row -->

        <!-- tab-content -->
        <div class="tab-content">
            <!-- 1F -->
            <div class="tab-pane active" id="First">
                <div class="row m-3">
                    <div class="table-responsive">
                        <!-- Table -->
                        <table class="border table-striped table-orderSheet-1">
                            <tbody>
                                <tr>
                                    <th width="24%">患者名</th>
                                    <th width="4%">緊急</th>
                                    <th width="21%">オーダー</th>
                                    <th class="border-r" width="17%">採血・検尿・採便</th>
                                    <th class="border-r" width="3%">→</th>
                                    <th class="border-r" width="17%">機器オーダー</th>
                                    <th class="border-r" width="3%">→</th>
                                    <th class="border-r">結果反映</th>
                                </tr>
                                <tr>
                                    <td class="border-r">101 田中太郎<br>
                                        （20011）</td>
                                    <td class="border-r text-center">○</td>
                                    <td class="border-r">尿検査</td>
                                    <td>
                                        <div class="d-inline-flex m-2">
                                            <div class="mr-2">
                                                <input type="checkbox">
                                            </div>
                                            <div>藤本武子<br>
                                                2020.5.20 15:00</div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <div class="d-inline-flex m-2">
                                            <div class="mr-2">
                                                <input type="checkbox">
                                            </div>
                                            <div>山本C子<br>
                                                2020.5.20 15:00</div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td class="text-center"><input type="checkbox" class="ml-2"></td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- /.Table -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- ./1F -->
        </div>
        <!-- /.tab-content -->
    </div>
</div>
