<div class="card-body p-0">
    <div class="tab-content" id="tab-1-tabContent">
        <div id="tab-1-1" class="tab-pane active">
            <div class="row m-3">
                <div class="col-sm-8">
                    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 float-left">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#First" data-toggle="tab">1F</a></li>
                            <li class="nav-item"><a class="nav-link" href="#Second" data-toggle="tab">2F</a></li>
                            <li class="nav-item"><a class="nav-link" href="#Third" data-toggle="tab">3F</a></li>
                            <li class="nav-item"><a class="nav-link" href="#Fourth" data-toggle="tab">4F</a></li>
                            <li class="nav-item"><a class="nav-link" href="#All" data-toggle="tab">全て</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row m-3">
                <div class="col-sm-8 col-8 align-text-bottom">
                    <h4><i class="fas fa-chevron-left mr-1"></i> 2020年1月12日 <i class="fas fa-chevron-right ml-1"></i>
                    </h4>
                </div>
            </div>

            <!-- tab-content -->
            <div class="tab-content">
                <div class="tab-pane active" id="First">
                    <div class="row m-3">
                        <div class="table-responsive">
                            <table class="border table-striped table-orderSheet-1 table-order-order-list">
                                <tbody>
                                    <tr>
                                        <th width="15%"></th>
                                        <th width="15%">処方</th>
                                        <th width="15%">注射</th>
                                        <th width="15%">食事</th>
                                        <th width="15%">リハビリ</th>
                                        <th width="25%">詳細</th>
                                    </tr>
                                    <tr>
                                        <td class="text-left">101 田中太郎</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td rowspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">102 田中二郎</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">103 田中三浪</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
</div>