<mc-order-inchg-barcode id="mc-order-inchg-barcode" style="display: none;"></mc-order-inchg-barcode>
<div class="card-body p-0">

    <div class="tab-content" id="tab-1-tabContent">
        <div id="tab-1-1" class="tab-pane active">
            <div class="row m-3">
                <div class="col-sm-8">
                    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 float-left">
                        <ul class="nav nav-pills" id="mc-order-incharge-injection-floor">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="">
                        <!-- SEARCH FORM -->
                        <form>
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="検索"
                                    aria-label="Search">
                                <div class="input-group-append">
                                    <button class="input-group-text" type="submit"> <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-sm-8 col-8 align-text-bottom" style="cursor: pointer; display: flex;">
                    <h4>
                        <i class="fas fa-chevron-left mr-1" id="mc-order-inchg-shot-prevdate" style="vertical-align: middle;"></i>
                        <div style="vertical-align: middle; display: inline-block; position: relative; text-align: center;">
                            <input class="datepicker" readonly id="mc-order-inchg-shot-date-input" style="cursor: pointer; position: absolute; top: 0; left: -5px; width: 100%; height: 100%; z-index: 0; opacity: 0;">
                            <span id="mc-order-inchg-shot-date"></span>
                        </div>
                        <i class="fas fa-chevron-right ml-1" id="mc-order-inchg-shot-nextdate" style="vertical-align: middle; "></i>
                    </h4>
                </div>
                <p id="test-1-2-3"></p>
                <div class="col-sm-4 col-4 text-right">
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#mc-order-inchg-shot-modal">印刷</button>
                </div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="First">
                    <div class="row m-3">
                        <div class="table-responsive">
                            <table class="border table-striped table-orderSheet-1">
                                <thead>
                                    <tr>
                                        <th width="22%">患者名</th>
                                        <th width="22%">注射</th>

                                        <th class="border-r" style="text-align: left;">
                                            <div style="width: 20px; display: inline-block;">
                                            </div>
                                            <span>薬剤準備</span>
                                        </th>
                                        <th class="border-r" style="text-align: left;">
                                            <div style="width: 20px; display: inline-block;">
                                                →
                                            </div>
                                            <span>薬剤混合</span>
                                        </th>
                                        <th class="border-r" style="text-align: left;">
                                            <div style="width: 20px; display: inline-block;">
                                                →
                                            </div>
                                            <span>注射                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="mc-order-incharge-injection-tr" style="display: none;">
                                        <td class="border-r" id="mc-order-incharge-injection-td-patient"></td>
                                        <td class="border-r" id="mc-order-incharge-injection-td-injection"></td>
                                        <td style="padding: 0.5rem .25rem;" id="mc-order-incharge-injection-td-step-1">
                                            <!-- <div class="td-group">
                                                <div class="mc-order-inchg-barcode-btn-scan" id='mc-order-inchg-med-div-1' data-key="1" data-patient-id="zxczxczxc" data-checked="false" data-type="2">
                                                    <input type="checkbox" id="mc-order-inchg-med-check-1" style="pointer-events:none" disabled>
                                                </div>
                                                <div class="content">
                                                    <span id="mc-order-inchg-med-text-1-1">asdasd</span>
                                                    <div id="mc-order-inchg-med-date-1-1">2020.12.12 15:30</div>
                                                </div>
                                            </div> -->
                                        </td>
                                        <td style="padding: 0.5rem .25rem;" id="mc-order-incharge-injection-td-step-2">
                                            <div class="td-group">

                                                <div class="mc-order-inchg-barcode-btn-scan" id='mc-order-inchg-med-div-1' data-key="1" data-patient-id="zxczxczxc" data-checked="false" data-type="2">
                                                    <input type="checkbox" id="mc-order-inchg-med-check-1" style="pointer-events:none" disabled>
                                                </div>
                                                <div class="content">
                                                    <span id="mc-order-inchg-med-text-1-1"></span>
                                                    <div id="mc-order-inchg-med-date-1-1">2020.12.12 15:30</div>
                                                </div>

                                            </div>

                                        </td>
                                        <td style="padding: 0.5rem .25rem;"  id="mc-order-incharge-injection-td-step-3">
                                            <div class="td-group">

                                                <div class="mc-order-inchg-barcode-btn-scan" id='mc-order-inchg-med-div-1' data-key="1" data-patient-id="zxczxczxc" data-checked="false" data-type="2">
                                                    <input type="checkbox" id="mc-order-inchg-med-check-1" style="pointer-events:none" disabled>
                                                </div>
                                                <div class="content">
                                                    <span id="mc-order-inchg-med-text-1-1"></span>
                                                    <div id="mc-order-inchg-med-date-1-1">2020.12.12 15:30</div>
                                                </div>

                                            </div>

                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 新規作成ウィンドウ -->
        <div class="modal fade" id="mc-order-inchg-shot-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="Modal-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title"><i class="fas fa-print"></i>&nbsp;印刷</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body modal-body-text border">
                        <div>
                            <a id="mc-order-inchg-shot-modal-pdf-1">
                                <span class="text-danger"><i class="fas fa-file-pdf"></i></span>
                                &nbsp;注射一覧表印刷
                            </a>
                        </div>
                        <div class="mt-2">
                            <a id="mc-order-inchg-shot-modal-pdf-2">
                                <span class="text-danger"><i class="fas fa-file-pdf"></i></span>
                                &nbsp;患者別注射準備票印刷
                            </a>
                        </div>
                        <div class="mt-2">
                            <a id="mc-order-inchg-shot-modal-pdf-3">
                                <i class="fas fa-barcode"></i>
                                &nbsp;注射用バーコードシール印刷
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer align-self-center">
                        <button type="button" class="btn btn-info">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .td-group{
        display: block;
        word-break: break-all;
        min-height: 40px;
    }
    .td-group .content{
        width: calc(100% - 20px);
        max-width: 200px;
        vertical-align: middle;
        display: inline-block;
    }
    .td-group .mc-order-inchg-barcode-btn-scan{
        width: 20px;
        vertical-align: text-bottom;
        display: inline-block;
    }

    .td-group .content > span{
        font-size: 16px;
        white-space: break-spaces;
    }
    .td-group .content > div{
        font-size: 10px;
    }

</style>
