<div class="container-fluid"> 
	<div class="row"> 
		<div class="col-12">
			<div class="card card-info card-tabs">
				<div class="card-header">
					<h3 class="card-title">
						<i class="fa fa-user"></i>&nbsp;緊急表示
					</h3>
				</div>

				<p>T.B.D 指示簿-緊急</p>
			</div>
		</div>
	</div>
</div>
