<div class="container-fluid"> 
	<div class="row"> 
		<div class="col-12">
			<div class="card card-info card-tabs">
				<div class="card-header">
					<h3 class="card-title">
						<i class="fa fa-user"></i>&nbsp;基本情報
					</h3>
				</div>

				<form id="pt-add-form"></form>
				<table>
					<tr>
						<th>ID</th>
						<td colspan="5"><input id="pt-add-id" type="text" size="20" maxlength="20"></td>
					</tr>
					<tr>
						<th>氏名（漢字）</th>
						<td>
							<input id="pt-add-familyname" type="text" size="5" maxlength="30" placeholder="苗字">
							<input id="pt-add-firstname" type="text" size="5" maxlength="30" placeholder="名前">
						</td>
						<th>性別</th>
						<td>
							<select id="pt-add-gender">
								<option value="0">▼選択</option>
								<option value="1">男性</option>
								<option value="2">女性</option>
							</select>
						</td>
						<td colspan="2">
							<input id="pt-add-dead" type="checkbox">死亡
							（死亡日：<input id="pt-add-dead-datetime" type="date">）
						</td>
					</tr>
					<tr>
						<th>氏名（カナ）</th>
						<td>
							<input id="pt-add-familyname-kana" type="text" size="5" maxlength="30" placeholder="ミョウジ">
							<input id="pt-add-firstname-kana" type="text" size="5" maxlength="30" placeholder="ナマエ">
						</td>
						<td colspan="4"></td>
					</tr>
					<tr>
						<th>生年月日</th>
						<td><input id="pt-add-birthday" type="date"></td>
						<th>年齢</th>
						<td id="pt-add-age"></td>
						<th>血液型</th>
						<td><input id="pt-add-bloodtype" type="text" size="4" maxlength="8"></td>
					</tr>
					<tr>
						<th>写真</th>
						<td colspan="5"><input id="pt-add-pict" type="file"></td>
					</tr>
					<tr>
						<th>住所</th>
						<td colspan="5">
							〒<input id="pt-add-postalcode" text="text" size="7" maxlength="7" placeholder="2210031">
							<input id="pt-add-country" type="text" size="7" maxlength="16" placeholder="日本">
							<input id="pt-add-address" type="text" size="50" maxlength="200" placeholder="神奈川県横浜市神奈川区新浦島町3-12">
						</td>
					</tr>
					<tr>
						<th>自宅電話番号</th>
						<td colspan="2"><input id="pt-add-tel" type="text" size="16" maxlength="16"></td>
						<th>携帯電話番号</th>
						<td colspan="2"><input id="pt-add-mobilephone" type="text" size="16" maxlength="16"></td>
					</tr>
					<tr>
						<th>緊急連絡先1</th>
						<td colspan="5">
							<input id="pt-add-emgname1" type="text" size="16" maxlength="32" placeholder="氏名">
							<input id="pt-add-emgtel1" type="text" size="16" maxlength="16" placeholder="電話番号">
							<input id="pt-add-emgmobilephone1" type="text" size="16" maxlength="16" placeholder="携帯番号">
							<input id="pt-add-emgrel1" type="text" size="16" maxlength="32" placeholder="本人との関係">
						</td>
					</tr>
					<tr>
						<th>緊急連絡先2</th>
						<td colspan="5">
							<input id="pt-add-emgname2" type="text" size="16" maxlength="32" placeholder="氏名">
							<input id="pt-add-emgtel2" type="text" size="16" maxlength="16" placeholder="電話番号">
							<input id="pt-add-emgmobilephone2" type="text" size="16" maxlength="16" placeholder="携帯番号">
							<input id="pt-add-emgrel2" type="text" size="16" maxlength="32" placeholder="本人との関係">
						</td>
					</tr>
					<tr>
						<th>緊急連絡先3</th>
						<td colspan="5">
							<input id="pt-add-emgname3" type="text" size="16" maxlength="32" placeholder="氏名">
							<input id="pt-add-emgtel3" type="text" size="16" maxlength="16" placeholder="電話番号">
							<input id="pt-add-emgmobilephone3" type="text" size="16" maxlength="16" placeholder="携帯番号">
							<input id="pt-add-emgrel3" type="text" size="16" maxlength="32" placeholder="本人との関係">
						</td>
					</tr>
					<tr>
						<th>キーパーソン</th>
						<td colspan="2"><input id="pt-add-keyperson-name" type="text" size="16" maxlength="32"></td>
						<th>本人との関係</th>
						<td colspan="2"><input id="pt-add-keyperson-rel" type="text" size="16" maxlength="32"></td>
					</tr>
					<tr>
						<th>家族情報</th>
						<td colspan="5">
							<textarea id="pt-add-family-info" rows="5" style="width:100%" maxlength="65536"></textarea>
						</td>
					</tr>
					<tr>
						<th>病歴</th>
						<td colspan="5">
							<textarea id="pt-add-disease-history" rows="5" style="width:100%" maxlength="65536"></textarea>
						</td>
					</tr>
					<tr>
						<th>家族歴</th>
						<td colspan="5">
							<textarea id="pt-add-family-disease-history" rows="5" style="width:100%" maxlength="65536"></textarea>
						</td>
					</tr>
					<tr>
						<th>備考</th>
						<td colspan="5">
							<textarea id="pt-add-note" rows="5" style="width:100%" maxlength="65536"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="6" style="text-align: center;">
							<button type="submit" form="pt-add-form">登録</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
