<section class="content">
	<div class="container-fluid"> 
		<!-- Main row (Stat box) -->
		<div class="row">
			<div class="col-12">
			<!-- Tab START -->
				<div class="card card-info card-tabs">
					<div class="card-header p-0 pt-1">
						<ul class="nav nav-tabs" id="tab-1-tab" role="tablist">
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link active card-title" id="pt-dt-tab-1-1-tab" data-toggle="pill" href="#pt-dt-tab-1-1" role="tab" aria-controls="pt-dt-tab-1-1" aria-selected="true"><i class="fas fa-portrait"></i>&nbsp;リハ記録</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-dt-tab-1-2-tab" data-toggle="pill" href="#pt-dt-tab-1-2" role="tab" aria-controls="pt-dt-tab-1-2" aria-selected="false"><i class="fas fa-user-edit"></i>&nbsp;リハアセスメント</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-dt-tab-1-3-tab" data-toggle="pill" href="#pt-dt-tab-1-3" role="tab" aria-controls="pt-dt-tab-1-3" aria-selected="false"><i class="fas fa-file-medical"></i>&nbsp;リハ文書</a> </li>
						</ul>
					</div>

					<div class="card-body p-0">
						<div class="tab-content" id="pt-karte-tab-1-tabcontent">
							<div id="pt-dt-tab-1-1" class="tab-pane active">
								<mc-pt-dt-rec></mc-pt-dt-rec>
							</div>
							<div id="pt-dt-tab-1-2" class="tab-pane">
								<mc-pt-dt-assess></mc-pt-dt-assess>
							</div>
							<div id="pt-dt-tab-1-3" class="tab-pane">
								<mc-pt-dt-doc></mc-pt-dt-doc>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>
