<div class="row m-3 mt-5">
	<div class="col-md-4 col-12">
		<!-- Patient card -->
		<div class="card">
			<div class="card-header border-0">
			<h3 class="card-title"> <i class="fas fa-chevron-left mr-1"></i> 2021年1月 <i class="fas fa-chevron-right ml-1"></i></h3>
			</div>
			<div class="card-body p-0 table-responsive">
				<table class="border-top border-bottom table-striped table-patient-management mt-1">
				<tbody>
					<tr>
						<td></td>
						<th colspan="3">1</th>
						<th colspan="3">2</th>
						<th colspan="3">3</th>
						<th colspan="3">4</th>
						<th colspan="3">5</th>
						<th colspan="3">6</th>
						<th colspan="3">7</th>
					</tr>
					<tr>
						<th class="table-color-item">注射</th>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td>●</td>
					</tr>
					<tr>
						<th class="table-color-item">薬</th>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td>●</td>
					</tr>
					<tr>
						<th class="table-color-item">食事</th>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td>●</td>
					</tr>
				</tbody>
			</table>
				<table class="border-top table-striped table-patient-management mt-1">
				<tbody>
					<tr>
						<td></td>
						<th colspan="3">8</th>
						<th colspan="3">9</th>
						<th colspan="3">10</th>
						<th colspan="3">11</th>
						<th colspan="3">12</th>
						<th colspan="3">13</th>
						<th colspan="3">14</th>
					</tr>
					<tr>
						<th class="table-color-item">注射</th>
						<td style="background-color: cornsilk">●</td>
						<td style="background-color: cornsilk">●</td>
						<td style="background-color: cornsilk" class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td style="background-color: aquamarine">●</td>
						<td style="background-color: aquamarine">●</td>
						<td style="background-color: aquamarine" class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td>●</td>
					</tr>
					<tr>
						<th class="table-color-item">薬</th>
						<td style="background-color: cornsilk">●</td>
						<td style="background-color: cornsilk">●</td>
						<td style="background-color: cornsilk" class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td style="background-color: aquamarine">●</td>
						<td style="background-color: aquamarine">●</td>
						<td style="background-color: aquamarine" class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td>●</td>
					</tr>
					<tr>
						<th class="table-color-item">食事</th>
						<td style="background-color: cornsilk">●</td>
						<td style="background-color: cornsilk">●</td>
						<td style="background-color: cornsilk" class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td style="background-color: aquamarine">●</td>
						<td style="background-color: aquamarine">●</td>
						<td style="background-color: aquamarine" class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td class="border-right-b">●</td>
						<td>●</td>
						<td>●</td>
						<td>●</td>
					</tr>
				</tbody>
			</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
	<div class="col-md-8 col-12">
		<mc-pt-karte-add-karte></mc-pt-karte-add-karte>
	</div>
</div>

<div class="row m-3">
	<div class="col-md-4 col-12">
		<mc-pt-karte-add-med></mc-pt-karte-add-med>
	</div>
	<!-- 注射 -->
	<div class="col-md-4 col-12">
		<!-- Patient card -->
		<div class="card">
			<div class="card-header border-0 pb-1">
			<h3 class="card-title"> <i class="fas fa-syringe mr-1"></i> 注射</h3>
				<button class="btn btn-sm btn-default float-right" data-toggle="modal" data-target="#modal-1-003"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</button>
			</div>
			<div class="card-body p-0 table-responsive" style="height: auto;">
				<table class="border-top mt-1" style="width: 100%">
					<tbody>
						<tr>
							<td style="border-bottom: 1px solid #dee2e6;">
								<div class="m-3">
									<div class="row">
										<!-- Button Left -->
										<div class="col-8">
										<div class="d-flex flex-wrap flex-md-nowrap align-items-center float-left"><p class="mb-2">yyyy/mm/dd - yyyy/mm/dd</p>
										</div>
										</div>
										<!-- /.Button Left -->
										<!-- Button Right -->
										<div class="col-4">
										<div class="pb-2 mb-2 float-sm-right text-nowrap">
											<div class="btn-toolbar mb-md-0">
											<div class="btn-group ml-2">
												<button type="button" class="btn btn-sm-menu btn-secondary" data-toggle="modal" data-target="#modal-1-004">編集</button>
											</div>
											</div>
										</div>
										</div>
										<!-- /.Button Right -->
									</div>
									<!-- /.row -->
									<table class="table-striped" width="100%">
									<tbody>
									<tr>
										<td width="50%">ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									</tbody>
								</table>
								</div>
							</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px solid #dee2e6; background-color: cornsilk">
								<div class="m-3">
									<div class="row">
										<!-- Button Left -->
										<div class="col-8">
										<div class="d-flex flex-wrap flex-md-nowrap align-items-center float-left"><p class="mb-2">yyyy/mm/dd - yyyy/mm/dd</p>
										</div>
										</div>
										<!-- /.Button Left -->
										<!-- Button Right -->
										<div class="col-4">
										<div class="pb-2 mb-2 float-sm-right text-nowrap">
											<div class="btn-toolbar mb-md-0">
											<div class="btn-group ml-2">
												<button type="button" class="btn btn-sm-menu btn-secondary" data-toggle="modal" data-target="#modal-1-004">編集</button>
											</div>
											</div>
										</div>
										</div>
										<!-- /.Button Right -->
									</div>
									<!-- /.row -->
									<table class="table-striped" width="100%">
									<tbody>
									<tr>
										<td width="50%">ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									</tbody>
								</table>
								</div>
							</td>
						</tr>
						<tr>
							<td style="background-color: aquamarine">
								<div class="m-3">
									<div class="row">
										<!-- Button Left -->
										<div class="col-8">
										<div class="d-flex flex-wrap flex-md-nowrap align-items-center float-left"><p class="mb-2">yyyy/mm/dd - yyyy/mm/dd</p>
										</div>
										</div>
										<!-- /.Button Left -->
										<!-- Button Right -->
										<div class="col-4">
										<div class="pb-2 mb-2 float-sm-right text-nowrap">
											<div class="btn-toolbar mb-md-0">
											<div class="btn-group ml-2">
												<button type="button" class="btn btn-sm-menu btn-secondary" data-toggle="modal" data-target="#modal-1-004">編集</button>
											</div>
											</div>
										</div>
										</div>
										<!-- /.Button Right -->
									</div>
									<!-- /.row -->
									<table class="table-striped" width="100%">
									<tbody>
									<tr>
										<td width="50%">ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									<tr>
										<td>ソルデム</td>
										<td>500ml / 日</td>
									</tr>
									</tbody>
								</table>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
	<!-- /.注射 -->

	<!-- 食事 -->
	<div class="col-md-4 col-12">
		<!-- Patient card -->
		<div class="card">
			<div class="card-header border-0 pb-1">
			<h3 class="card-title"> <i class="fas fa-utensils mr-1"></i> 食事</h3>
				<button class="btn btn-sm btn-default float-right" data-toggle="modal" data-target="#modal-1-003"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</button>
			</div>
			<div class="card-body p-0 table-responsive" style="height: auto;">
				<table class="border-top mt-1" style="width: 100%">
					<tbody>
						<tr>
							<td style="border-bottom: 1px solid #dee2e6;">
								<div class="m-3">
									<div class="row">
										<!-- Button Left -->
										<div class="col-8">
										<div class="d-flex flex-wrap flex-md-nowrap align-items-center float-left"><p class="mb-2">yyyy/mm/dd - yyyy/mm/dd</p>
										</div>
										</div>
										<!-- /.Button Left -->
										<!-- Button Right -->
										<div class="col-4">
										<div class="pb-2 mb-2 float-sm-right text-nowrap">
											<div class="btn-toolbar mb-md-0">
											<div class="btn-group ml-2">
												<button type="button" class="btn btn-sm-menu btn-secondary" data-toggle="modal" data-target="#modal-1-004">編集</button>
											</div>
											</div>
										</div>
										</div>
										<!-- /.Button Right -->
									</div>
									<!-- /.row -->
									<table class="table-striped" width="100%">
									<tbody>
									<tr>
										<td>全粥（３食）</td>
									</tr>
									</tbody>
								</table>
								</div>
							</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px solid #dee2e6; background-color: cornsilk">
								<div class="m-3">
									<div class="row">
										<!-- Button Left -->
										<div class="col-8">
										<div class="d-flex flex-wrap flex-md-nowrap align-items-center float-left"><p class="mb-2">yyyy/mm/dd - yyyy/mm/dd</p>
										</div>
										</div>
										<!-- /.Button Left -->
										<!-- Button Right -->
										<div class="col-4">
										<div class="pb-2 mb-2 float-sm-right text-nowrap">
											<div class="btn-toolbar mb-md-0">
											<div class="btn-group ml-2">
												<button type="button" class="btn btn-sm-menu btn-secondary" data-toggle="modal" data-target="#modal-1-004">編集</button>
											</div>
											</div>
										</div>
										</div>
										<!-- /.Button Right -->
									</div>
									<!-- /.row -->
									<table class="table-striped" width="100%">
									<tbody>
									<tr>
										<td>常食（３食）</td>
									</tr>
									</tbody>
								</table>
								</div>
							</td>
						</tr>
						<tr>
							<td style="background-color: aquamarine">
								<div class="m-3">
									<div class="row">
										<!-- Button Left -->
										<div class="col-8">
										<div class="d-flex flex-wrap flex-md-nowrap align-items-center float-left"><p class="mb-2">yyyy/mm/dd - yyyy/mm/dd</p>
										</div>
										</div>
										<!-- /.Button Left -->
										<!-- Button Right -->
										<div class="col-4">
										<div class="pb-2 mb-2 float-sm-right text-nowrap">
											<div class="btn-toolbar mb-md-0">
											<div class="btn-group ml-2">
												<button type="button" class="btn btn-sm-menu btn-secondary" data-toggle="modal" data-target="#modal-1-004">編集</button>
											</div>
											</div>
										</div>
										</div>
										<!-- /.Button Right -->
									</div>
									<!-- /.row -->
									<table class="table-striped" width="100%">
									<tbody>
									<tr>
										<td>　</td>
									</tr>
									</tbody>
								</table>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
	<!-- /.食事 -->
</div>

<mc-pt-temp></mc-pt-temp>
