<style>
	p[id^="pt-karte-add-karte-body"], p[id^="pt-karte-add-karte-memo"] {
		white-space: pre;
	}
</style>
<!-- Patient card -->
<div class="card">
	<div class="card-header border-0 pb-1">
		<h3 class="card-title"> <i class="fas fa-file-alt mr-1"></i> 経過記録</h3>
		<button id="pt-karte-add-karte-create" class="btn btn-sm btn-default float-right" data-toggle="modal" data-target="#pt-karte-add-karte-dialog"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</button>
	</div>
	<div class="card-body p-0 table-responsive" style="height: 14rem;">
		<table class="border-top table-striped mt-1" style="width: 100%">
			<tr id="pt-karte-add-karte-item" style="display: none;">
				<td>
					<div class="m-3">
						<div class="row">
							<!-- Button Left -->
							<div class="col-sm-6">
								<div class="d-flex flex-wrap flex-md-nowrap align-items-center float-left">
									<p id="pt-karte-add-karte-title" class="mb-2">タイトル yyyy/mm/dd 00:00 ユーザー名</p>
								</div>
							</div>
							<!-- /.Button Left --> 
							<!-- Button Right -->
							<div class="col-sm-6">
								<div class="pb-2 mb-2 float-sm-right text-nowrap">
									<div class="btn-toolbar mb-md-0">
										<div class="btn-group ml-2">
											<button id="pt-karte-add-karte-edit" type="button" class="btn btn-sm-menu btn-secondary" data-toggle="modal" data-target="#pt-karte-add-karte-dialog">編集</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /.Button Right -->
						</div>
						<!-- /.row -->
						<p id="pt-karte-add-karte-body"></p>
						<p id="pt-karte-add-karte-memo"></p>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- /.card-body --> 
</div>
<!-- /.card -->

<div class="modal fade" id="pt-karte-add-karte-dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="pt-karte-add-karte-dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<p class="modal-title"><i class="fas fa-notes-medical"></i>&nbsp;<span id="pt-karte-add-karte-dialog-title">新規作成</span></p>
				<button id="pt-karte-add-karte-dialog-close" type="button" class="close" data-dismiss="modal" aria-label="閉じる"> <span aria-hidden="true">×</span> </button>
			</div>
			<form action="#" method="post">
				<div class="modal-body modal-body-text border">
					<div class="input-group mb-2">
						<span class="mr-1"><i class="fas fa-check-circle"></i>診療タイプ</span>
						<div class="form-inline">
							<select id="pt-karte-add-karte-dialog-diagtype" class="form-control"></select>
						</div>
						<span class="mr-1 ml-3"><i class="fas fa-check-circle"></i>診療科</span>
						<div class="form-inline">
							<select id="pt-karte-add-karte-dialog-diagdept" class="form-control"></select>
						</div>
					</div>
					<div class="input-group">
						<span class="mr-1"><i class="fas fa-check-circle"></i>診療日時</span>
						<div class="form-inline">
							<cmn-date id="pt-karte-add-karte-dialog-act-startdate"></cmn-date>
							<cmn-time id="pt-karte-add-karte-dialog-act-starttime" class="ml-1"></cmn-time>
							<!--
							<input id="pt-karte-add-karte-dialog-act_startdate" type="date" class="form-control">
							<input id="pt-karte-add-karte-dialog-act-starttime" type="time" class="form-control ml-1">
							-->
						</div>
					</div>
					<div class="input-group mt-3">
						<div class="form-inline">
							<input id="pt-karte-add-karte-dialog-karte-title" type="text" class="form-control" maxlength="64" placeholder="タイトル">
							<span class="mr-1 ml-3"><i class="fas fa-check-circle"></i>代理入力</span>
							<input id="pt-karte-add-karte-dialog-substitute-input" type="checkbox">
							<span class="mr-1 ml-3"><i class="fas fa-check-circle"></i>ステータス</span>
							<select id="pt-karte-add-karte-dialog-status"></select>
						</div>
					</div>
					<div class="input-group mt-3">
						<textarea id="pt-karte-add-karte-dialog-karte-body" class="form-control" rows="3" placeholder="所見"></textarea>
					</div>
					<div class="input-group mt-3">
						<textarea id="pt-karte-add-karte-dialog-karte-memo" class="form-control" rows="3" placeholder="備考"></textarea>
					</div>
				</div>
				<div class="modal-footer justify-content-center">
					<input id="pt-karte-add-karte-dialog-karteid" type="hidden">
					<button id="pt-karte-add-karte-dialog-submit" type="button" class="btn btn-info">送信</button>
				</div>
			</form>
		</div>
	</div>
</div>