<style>
	p[id^="pt-karte-view-rec-body-body"], p[id^="pt-karte-view-rec-body-memo"] {
		white-space: pre;
	}
</style>
<div class="mt-5">
	<div class="row m-3">
		<section class="col connectedSortable ui-sortable">
			<div id="pt-karte-view-rec-section" class="card" style="display: none;">
				<div id="pt-karte-view-rec-title" class="card-header border-0 ui-sortable-handle" style="cursor: move;">
					<h3 class="card-title">
						<i class="fas fa-file-alt mr-1"></i>
						<span id="pt-karte-view-rec-type" class="ml-3"></span>
					</h3>
					<span id="pt-karte-view-rec-datetime" class="ml-3"></span>
					<span id="pt-karte-view-rec-username" class="ml-3"></span>
				</div>
				<div id="pt-karte-view-rec-body" class="card-body">
					<p id="pt-karte-view-rec-body-body"></p>
					<p id="pt-karte-view-rec-body-memo"></p>
				</div>
			</div>
		</section>
	</div>
</div>
