<section class="content">
	<div class="container-fluid"> 
		<!-- Main row (Stat box) -->
		<div class="row">
			<div class="col-12">
			<!-- Tab START -->
				<div class="card card-info card-tabs">
					<div class="card-header p-0 pt-1">
						<ul class="nav nav-tabs" id="tab-1-tab" role="tablist">
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link active card-title" id="pt-karte-tab-1-1-tab" data-toggle="pill" href="#pt-karte-tab-1-1" role="tab" aria-controls="pt-karte-tab-1-1" aria-selected="true"><i class="fas fa-portrait"></i>&nbsp;カルテ</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-karte-tab-1-2-tab" data-toggle="pill" href="#pt-karte-tab-1-2" role="tab" aria-controls="pt-karte-tab-1-2" aria-selected="false"><i class="fas fa-user-edit"></i>&nbsp;カルテ入力</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-karte-tab-1-3-tab" data-toggle="pill" href="#pt-karte-tab-1-3" role="tab" aria-controls="pt-karte-tab-1-3" aria-selected="false"><i class="fas fa-file-medical"></i>&nbsp;オーダー</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-karte-tab-1-4-tab" data-toggle="pill" href="#pt-karte-tab-1-4" role="tab" aria-controls="pt-karte-tab-1-4" aria-selected="false"><i class="fas fa-clipboard-check"></i>&nbsp;検査結果</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-karte-tab-1-5-tab" data-toggle="pill" href="#pt-karte-tab-1-5" role="tab" aria-controls="pt-karte-tab-1-5" aria-selected="false"><i class="fas fa-file-alt"></i>&nbsp;医事文書</a> </li>
						</ul>
					</div>

					<div class="card-body p-0">
						<div class="tab-content" id="pt-karte-tab-1-tabcontent">
							<div id="pt-karte-tab-1-1" class="tab-pane active">
								<mc-pt-karte-view></mc-pt-karte-view>
							</div>
							<div id="pt-karte-tab-1-2" class="tab-pane">
								<mc-pt-karte-add></mc-pt-karte-add>
							</div>
							<div id="pt-karte-tab-1-3" class="tab-pane">
								<mc-pt-karte-order></mc-pt-karte-order>
							</div>
							<div id="pt-karte-tab-1-4" class="tab-pane">
								<mc-pt-karte-exam></mc-pt-karte-exam>
							</div>
							<div id="pt-karte-tab-1-5" class="tab-pane">
								<mc-pt-karte-meddoc></mc-pt-karte-meddoc>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>
