<!-- Patient card -->
<div class="card">
	<div class="card-header border-0 pb-1">
	<h3 class="card-title"> <i class="fas fa-capsules mr-1"></i> 処方</h3>
		<button class="btn btn-sm btn-default float-right" data-toggle="modal" data-target="#modal-1-003"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</button>
	</div>
	<div class="card-body p-0 table-responsive" style="height: auto;">
		<table class="border-top mt-1" style="width: 100%">
			<tbody>
				<tr>
					<td style="border-bottom: 1px solid #dee2e6;">
						<div class="m-3">
							<div class="row">
								<!-- Button Left -->
								<div class="col-8">
								<div class="d-flex flex-wrap flex-md-nowrap align-items-center float-left"><p class="mb-2">yyyy/mm/dd - yyyy/mm/dd</p>
								</div>
								</div>
								<!-- /.Button Left --> 
								<!-- Button Right -->
								<div class="col-4">
								<div class="pb-2 mb-2 float-sm-right text-nowrap">
									<div class="btn-toolbar mb-md-0">
									<div class="btn-group ml-2">
										<button type="button" class="btn btn-sm-menu btn-secondary" data-toggle="modal" data-target="#modal-1-004">編集</button>
									</div>
									</div>
								</div>
								</div>
								<!-- /.Button Right -->
							</div>
							<!-- /.row -->
							<table class="table-striped" width="100%">
							<tbody>
							<tr>
								<td width="50%">アダラート</td>
								<td width="15%">1錠</td>
								<td width="15%">朝</td>
								<td width="20%">7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							</tbody>
						</table>
						</div>
					</td>
				</tr>
				<tr>
					<td style="border-bottom: 1px solid #dee2e6; background-color: cornsilk">
						<div class="m-3">
							<div class="row">
								<!-- Button Left -->
								<div class="col-8">
								<div class="d-flex flex-wrap flex-md-nowrap align-items-center float-left"><p class="mb-2">yyyy/mm/dd - yyyy/mm/dd</p>
								</div>
								</div>
								<!-- /.Button Left --> 
								<!-- Button Right -->
								<div class="col-4">
								<div class="pb-2 mb-2 float-sm-right text-nowrap">
									<div class="btn-toolbar mb-md-0">
									<div class="btn-group ml-2">
										<button type="button" class="btn btn-sm-menu btn-secondary" data-toggle="modal" data-target="#modal-1-004">編集</button>
									</div>
									</div>
								</div>
								</div>
								<!-- /.Button Right -->
							</div>
							<!-- /.row -->
							<table class="table-striped" width="100%">
							<tbody>
							<tr>
								<td width="50%">アダラート</td>
								<td width="15%">1錠</td>
								<td width="15%">朝</td>
								<td width="20%">7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							</tbody>
						</table>
						</div>
					</td>
				</tr>
				<tr>
					<td style="background-color: aquamarine">
						<div class="m-3">
							<div class="row">
								<!-- Button Left -->
								<div class="col-8">
								<div class="d-flex flex-wrap flex-md-nowrap align-items-center float-left"><p class="mb-2">yyyy/mm/dd - yyyy/mm/dd</p>
								</div>
								</div>
								<!-- /.Button Left --> 
								<!-- Button Right -->
								<div class="col-4">
								<div class="pb-2 mb-2 float-sm-right text-nowrap">
									<div class="btn-toolbar mb-md-0">
									<div class="btn-group ml-2">
										<button type="button" class="btn btn-sm-menu btn-secondary" data-toggle="modal" data-target="#modal-1-004">編集</button>
									</div>
									</div>
								</div>
								</div>
								<!-- /.Button Right -->
							</div>
							<!-- /.row -->
							<table class="table-striped" width="100%">
							<tbody>
							<tr>
								<td width="50%">アダラート</td>
								<td width="15%">1錠</td>
								<td width="15%">朝</td>
								<td width="20%">7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							<tr>
								<td>アダラート</td>
								<td>1錠</td>
								<td>朝</td>
								<td>7日分</td>
							</tr>
							</tbody>
						</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- /.card-body --> 
</div>
<!-- /.card -->
