<div class="container-fluid"> 
	<div class="row"> 
		<div class="col-12">
			<div class="card card-info card-tabs">
				<div class="card-header">
					<h3 class="card-title">
						<i class="fa fa-user"></i>&nbsp;患者一覧
					</h3>
				</div>

				<table>
					<tr>
						<th>ID</th>
						<th>氏名</th>
						<th>生年月日</th>
						<th>年齢</th>
						<th>性別</th>
						<th>入院<br>日数</th>
						<th>階数</th>
						<th>部屋<br>番号</th>
						<th>退院予定日</th>
						<th>状態</th>
					</tr>
					<tr id="pt-list-item" style="display: none;">
						<td id="pt-list-id"></td>
						<td><a id="pt-list-name" href="#"></a></td>
						<td id="pt-list-birthday"></td>
						<td id="pt-list-age"></td>
						<td id="pt-list-gender"></td>
						<td id="pt-list-days"></td>
						<td id="pt-list-floor"></td>
						<td id="pt-list-room"></td>
						<td id="pt-list-discharge"></td>
						<td id="pt-list-status"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
