<div class="card-body p-0">
      <div class="tab-content" id="tab-1-tabContent">
	  <!-- 看護記録 -->
      <div id="tab-1-1" class="tab-pane active">
        <div class="row m-3 mt-5">
            <div class="col-md-3 col-12">
                <!-- Patient card -->
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">看護履歴</h3>
                    </div>
                    <div class="card-body p-0 table-responsive">
                        <table class="border-top table-striped table-patient-nurse-1 mt-1">
                            <thead>
                            <tr><th colspan="2"><i class="fas fa-stethoscope mr-1"></i> サマリー</th>
                            </tr></thead>
                            <tbody>
                            <tr id="pt-nurse-rec-list-item" style="display: none;">
                                <td id="pt-nurse-rec-list-date" style="width:5rem"></td>
                                <td id="pt-nurse-rec-list-time"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-9 col-12">

                <div class="card-header border-0">
                    <h3 class="card-title"><i class="fas fa-file-alt mr-1"></i>タイムライン</h3>
                </div>
                <button id="pt-nurse-rec-add" class="btn btn-sm btn-secondary m-3" data-toggle="modal" data-target="#pt-nurse-rec-add-record"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</button>

                <table id="pt-nurse-rec-list2-item" class="border-top mt-1 table-patient-nurse-1" style="width: 100%;display: none;">
                    <input type="hidden" id="pt-nurse-rec-list2-record-id" value="">
                    <thead>
                    <tr>
                        <th>
                            <div class="row ml-3 mr-3">
                                <div class="col-8 d-flex flex-wrap flex-md-nowrap align-items-center float-left">
                                    <p class="mb-0">診察時間　<p id="pt-nurse-rec-list2-act-date" class="mb-0"></p>&nbsp;<p id="pt-nurse-rec-list2-act-time" class="mb-0"></p></p>
                                </div>
                                <div class="col-4 float-right text-right">
                                    <button id="pt-nurse-rec-list2-action-update" class="btn btn-sm btn-default mr-2" data-toggle="modal" data-target="#pt-nurse-rec-update-record"><i class="fas fa-edit"></i>&nbsp;編集</button>
                                    <button id="pt-nurse-rec-list2-action-print" class="btn btn-sm btn-default"><i class="fas fa-print"></i>&nbsp;印刷</button>
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="row m-3">
                                <div class="col-md-6 d-flex flex-wrap flex-md-nowrap float-left">
                                    <div><span>入力者: </span><span id="pt-nurse-rec-list2-user-name"></span></div>
                                </div>
                                <div class="col-md-6 float-right text-right">
                                    <div>最終更新日：<span id="pt-nurse-rec-list2-reg-datetime"></span></div>
                                </div>
                            </div>
                            <!-- /.row -->

                            <div class="row m-3">
                                <pre id="pt-nurse-rec-list2-act-detail"></pre>
                            </div>
                            <!-- /.row -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row m-3">
                                <h2 class="form-title">備考</h2>
                                <pre id="pt-nurse-rec-list2-note"></pre>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row m-3">
                                <img id="pt-nurse-rec-list2-img" src="">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>

<!--新規作成ポップアップ-->
<div class="modal fade" id="pt-nurse-rec-add-record" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="ptNurseRecAddRecord" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="ptNurseRecAddRecord"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる"> <span aria-hidden="true">×</span> </button>
            </div>
            <div class="modal-body border">
                <form id="pt-nurse-rec-add-form"></form>
                <table>
                    <tbody>
                        <tr>
                            <th>看護日時</th>
                            <td>
                                <cmn-date id="pt-nurse-rec-add-act-date"></cmn-date>
                                <cmn-time id="pt-nurse-rec-add-act-time" class="ml-1"></cmn-time>
                            </td>
                        </tr>
                        <tr>
                            <th>記録内容</th>
                            <td>
                                <textarea id="pt-nurse-rec-add-act-detail" style="width: auto"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>備考</th>
                            <td>
                                <textarea id="pt-nurse-rec-add-note"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>記録者</th>
                            <td>
                                <p id="pt-nurse-rec-add-user-name"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer align-self-center">
                <button type="submit" form="pt-nurse-rec-add-form" class="btn btn-info">作成</button>
            </div>
        </div>
    </div>
</div>
<!--新規作成ポップアップEND-->


<!--更新ポップアップ-->
<div class="modal fade" id="pt-nurse-rec-update-record" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="ptNurseRecUpdateRecord" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="ptNurseRecUpdateRecord"><i class="fas fa-notes-medical"></i>&nbsp;更新</p>
                <button id="pt-nurse-rec-update-record-close" type="button" class="close" data-dismiss="modal" aria-label="閉じる"> <span aria-hidden="true">×</span> </button>
            </div>
            <div class="modal-body border">
                <form id="pt-nurse-rec-update-form"></form>
                <table>
                    <tbody>
                    <tr>
                        <th>看護日時</th>
                        <td>
                            <cmn-date id="pt-nurse-rec-update-act-date"></cmn-date>
                            <cmn-time id="pt-nurse-rec-update-act-time" class="ml-1"></cmn-time>
                        </td>
                    </tr>
                    <tr>
                        <th>記録内容</th>
                        <td>
                            <textarea id="pt-nurse-rec-update-act-detail" style="width: auto"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>備考</th>
                        <td>
                            <textarea id="pt-nurse-rec-update-note"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>記録者</th>
                        <td>
                            <p id="pt-nurse-rec-update-user-name"></p>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="pt-nurse-rec-update-file1">ファイル1</label></th>
                        <td>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="pt-nurse-rec-update-file1">
                                <label class="custom-file-label" for="pt-nurse-rec-update-file1" data-browse="参照">ファイルを選択</label>
                            </div>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary input-group-text" id="pt-nurse-rec-update-file1-reset">取消</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="pt-nurse-rec-update-file2">ファイル2</label></th>
                        <td>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="pt-nurse-rec-update-file2">
                                <label class="custom-file-label" for="pt-nurse-rec-update-file2" data-browse="参照">ファイルを選択</label>
                            </div>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary input-group-text" id="pt-nurse-rec-update-file2-reset">取消</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="pt-nurse-rec-update-file3">ファイル3</label></th>
                        <td>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="pt-nurse-rec-update-file3">
                                <label class="custom-file-label" for="pt-nurse-rec-update-file3" data-browse="参照">ファイルを選択</label>
                            </div>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary input-group-text" id="pt-nurse-rec-update-file3-reset">取消</button>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="modal-footer align-self-center">
                <button type="submit" form="pt-nurse-rec-update-form" class="btn btn-info">作成</button>
            </div>
        </div>
    </div>
</div>
<!--更新ポップアップEND-->
