<section class="content">
	<div class="container-fluid"> 
		<!-- Main row (Stat box) -->
		<div class="row">
			<div class="col-12">
			<!-- Tab START -->
				<div class="card card-info card-tabs">
					<div class="card-header p-0 pt-1">
						<ul class="nav nav-tabs" id="tab-1-tab" role="tablist">
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link active card-title" id="pt-nurse-tab-1-1-tab" data-toggle="pill" href="#pt-nurse-tab-1-1" role="tab" aria-controls="pt-nurse-tab-1-1" aria-selected="true"><i class="fas fa-portrait"></i>&nbsp;看護記録</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-nurse-tab-1-2-tab" data-toggle="pill" href="#pt-nurse-tab-1-2" role="tab" aria-controls="pt-nurse-tab-1-2" aria-selected="false"><i class="fas fa-user-edit"></i>&nbsp;温度版</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-nurse-tab-1-3-tab" data-toggle="pill" href="#pt-nurse-tab-1-3" role="tab" aria-controls="pt-nurse-tab-1-3" aria-selected="false"><i class="fas fa-file-medical"></i>&nbsp;アセスメント</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-nurse-tab-1-4-tab" data-toggle="pill" href="#pt-nurse-tab-1-4" role="tab" aria-controls="pt-nurse-tab-1-4" aria-selected="false"><i class="fas fa-clipboard-check"></i>&nbsp;計画</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-nurse-tab-1-5-tab" data-toggle="pill" href="#pt-nurse-tab-1-5" role="tab" aria-controls="pt-nurse-tab-1-5" aria-selected="false"><i class="fas fa-file-alt"></i>&nbsp;看護文書</a> </li>
						</ul>
					</div>

					<div class="card-body p-0">
						<div class="tab-content" id="pt-karte-tab-1-tabcontent">
							<div id="pt-nurse-tab-1-1" class="tab-pane active">
								<mc-pt-nurse-rec></mc-pt-nurse-rec>
							</div>
							<div id="pt-nurse-tab-1-2" class="tab-pane">
								<mc-pt-nurse-vital></mc-pt-nurse-vital>
							</div>
							<div id="pt-nurse-tab-1-3" class="tab-pane">
								<mc-pt-nurse-assess></mc-pt-nurse-assess>
							</div>
							<div id="pt-nurse-tab-1-4" class="tab-pane">
								<mc-pt-nurse-plan></mc-pt-nurse-plan>
							</div>
							<div id="pt-nurse-tab-1-5" class="tab-pane">
								<mc-pt-nurse-doc></mc-pt-nurse-doc>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>
