<table style="width: 100%;">
	<tr>
		<th>入院日時</th>
		<td id="pt-sum-outline-hosp-datetime"></td>
		<th>入院時年齢</th>
		<td id="pt-sum-outline-hosp-age"></td>
		<td></td>
	</tr>
	<tr>
		<th>国籍</th>
		<td id="pt-sum-outline-country"></td>
		<th>住所</th>
		<td id="pt-sum-outline-address"></td>
		<td></td>
	</tr>
	<tr>
		<th>主治医</th>
		<td colspan="4" id="pt-sum-outline-doctor"></td>
	</tr>
	<tr>
		<th>担当看護師</th>
		<td id="pt-sum-outline-nurse1"></td>
		<td id="pt-sum-outline-nurse2"></td>
		<td id="pt-sum-outline-nurse3"></td>
		<td id="pt-sum-outline-nurse4"></td>
	</tr>
	<tr>
		<th>自宅電話番号</th>
		<td id="pt-sum-outline-tel"></td>
		<th>携帯電話番号</th>
		<td id="pt-sum-outline-mobilephone"></td>
		<td></td>
	</tr>
	<tr>
		<th>緊急連絡先1</th>
		<td id="pt-sum-outline-emg-name1"></td>
		<td id="pt-sum-outline-emg-tel1"></td>
		<td id="pt-sum-outline-emg-mobilephone1"></td>
		<td id="pt-sum-outline-emg-rel1"></td>
	</tr>
	<tr>
		<th>緊急連絡先2</th>
		<td id="pt-sum-outline-emg-name2"></td>
		<td id="pt-sum-outline-emg-tel2"></td>
		<td id="pt-sum-outline-emg-mobilephone2"></td>
		<td id="pt-sum-outline-emg-rel2"></td>
	</tr>
	<tr>
		<th>緊急連絡先3</th>
		<td id="pt-sum-outline-emg-name3"></td>
		<td id="pt-sum-outline-emg-tel3"></td>
		<td id="pt-sum-outline-emg-mobilephone3"></td>
		<td id="pt-sum-outline-emg-rel3"></td>
	</tr>
	<tr>
		<th>キーパーソン</th>
		<td id="pt-sum-outline-keyperson-name"></td>
		<th>本人との関係</th>
		<td id="pt-sum-outline-keyperson-rel"></td>
		<td></td>
	</tr>
	<tr>
		<th>家族情報</th>
		<td colspan="4" id="pt-sum-outline-family-info"></td>
	</tr>
	<tr>
		<th>病歴</th>
		<td colspan="4" id="pt-sum-outline-disease-history"></td>
	</tr>
	<tr>
		<th>家族歴</th>
		<td colspan="4" id="pt-sum-outline-family-disease-history"></td>
	</tr>
	<tr>
		<th>備考</th>
		<td colspan="4" id="pt-sum-outline-note"></td>
	</tr>
	<tr>
		<td colspan="5" style="text-align: right;">
			<button id="pt-sum-outline-edit" type="button">基本情報編集</button>
		</td>
	</tr>
</table>

<h4>入院情報</h4>
<table style="width: 100%;">
	<tr>
		<th>入院方法</th>
		<td id="pt-sum-outline-hosp-way"></td>
		<th>入院までの経緯</th>
		<td id="pt-sum-outline-hosp-way-det"></td>
	</tr>
	<tr>
		<th>入院前の施設</th>
		<td id="pt-sum-outline-hosp-facility"></td>
		<td colspan="2" id="pt-sum-outline-hosp-facility-det"></td>
	</tr>
	<tr>
		<th>現状の病状</th>
		<td colspan="3" id="pt-sum-outline-hosp-condition"></td>
	</tr>
	<tr>
		<th rowspan="2">褥瘡の有無</th>
		<td colspan="3">
			<input id="pt-sum-outline-bedsore-sacral" type="checkbox" readonly>仙骨部&nbsp;&nbsp;
			<input id="pt-sum-outline-bedsore-iliac" type="checkbox" readonly>腸骨部&nbsp;&nbsp;
			<input id="pt-sum-outline-bedsore-iliac" type="checkbox" readonly>座骨部&nbsp;&nbsp;
			<input id="pt-sum-outline-bedsore-greater-trochanter" type="checkbox" readonly>大転子部&nbsp;&nbsp;
			<input id="pt-sum-outline-bedsore-coccyx" type="checkbox" readonly>尾骨部&nbsp;&nbsp;
			<input id="pt-sum-outline-bedsore-heel" type="checkbox" readonly>踵部
		</td>
	</tr>
	<tr>
		<td colspan="3">
			入院時<textarea id="pt-sum-outline-bedsore-start" row="3" readonly></textarea>
			退院時<textarea id="pt-sum-outline-bedsore-end" row="3" readonly></textarea>
		</td>
	<tr>
	<tr>
		<th>日常生活自立度</th>
		<td colspan="3" id="pt-sum-outline-life-independence"></td>
	</tr>
	<tr>
		<th rowspan="2">入院時バイタル</th>
		<td colspan="3">
			体温<span id="pt-sum-outline-hosp-bt"></span>&nbsp;&nbsp;
			血圧<span id="pt-sum-outline-hosp-bpl"></span>/<span id="pt-sum-outline-hosp-bph"></span>&nbsp;&nbsp;
			SPO2<span id="pt-sum-outline-hosp-spo2"></span>
		</td>
	</tr>
	<tr>
		<td colspan="3">備考<span id="pt-sum-outline-vital-comment"></span></td>
	</tr>
	<tr>
		<th>病名</th>
		<td colspan="3">
			<table>
				<tr>
					<th>病名</th>
					<th>開始日</th>
					<th>転帰日</th>
					<th>主病</th>
				</tr>
				<tr>
					<td id="pt-sum-outline-disease-name1"></td>
					<td id="pt-sum-outline-disease-start-date1"></td>
					<td id="pt-sum-outline-disease-end-date1"></td>
					<td id="pt-sum-outline-disease-main1"></td>
				</tr>
				<tr>
					<td id="pt-sum-outline-disease-name2"></td>
					<td id="pt-sum-outline-disease-start-date2"></td>
					<td id="pt-sum-outline-disease-end-date2"></td>
					<td id="pt-sum-outline-disease-main2"></td>
				</tr>
				<tr>
					<td id="pt-sum-outline-disease-name3"></td>
					<td id="pt-sum-outline-disease-start-date3"></td>
					<td id="pt-sum-outline-disease-end-date3"></td>
					<td id="pt-sum-outline-disease-main3"></td>
				</tr>
				<tr>
					<td id="pt-sum-outline-disease-name4"></td>
					<td id="pt-sum-outline-disease-start-date4"></td>
					<td id="pt-sum-outline-disease-end-date4"></td>
					<td id="pt-sum-outline-disease-main4"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th>保険情報</th>
		<td colspan="3">
			<textarea id="pt-sum-outline-insurance" rows="5" style="width: 100%;"></textarea>
		</textarea></td>
	</tr>
	<tr>
		<td colspan="4" style="text-align: right;"><button id="pt-sum-outline-hosp-edit" type="button">入院情報編集</button></td>
	</tr>
</table>
