<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card card-info card-tabs">
				<div class="card-header">
					<h3 class="card-title">
						<i class="fa fa-sum-iccon"></i>&nbsp;IC・同意書
					</h3>
				</div>

				<form id="pt-sum-iccon-add-form"></form>
				<table id="pt-sum-iccon-head-table" width="100%" style="display: block;">
					<tr>
						<th>ID</th>
						<td ><input id="pt-sum-iccon-add-orcaid" type="text" size="10" disabled></td>
						<th>氏名</th>
						<td><input id="pt-sum-iccon-add-name" type="text" size="10" disabled></td>
						<th>性別</th>
						<td><input id="pt-sum-iccon-add-gender" type="text" size="2" disabled></td>
						<th>生年月日</th>
						<td><input id="pt-sum-iccon-add-birthday" type="test" size="8" disabled></td>
						<th>年齢</th>
						<td><input id="pt-sum-iccon-add-age" type="text" size="3" disabled></td>
						<th>血液型</th>
						<td><input id="pt-sum-iccon-add-bloodtype" type="text" size="2" disabled></td>
					</tr>
				</table>
				<table id="pt-sum-iccon-list-table" width="100%" style="display: block;">
					<tr>
						<th colspan="4">病状治療方針説明</th>
						<td style="text-align: right;">
							<button id="pt-sum-iccon-list-add">追加</button>
						</td>
					</tr>
					<tr>
						<th>年月日</th><th>説明した人</th><th>説明を受けた</th><th>内容</th><th>詳細</th>
					</tr>
					<tr>
						<td id="pt-sum-icccon-list1-date"></td>
						<td id="pt-sum-icccon-list1-doctor"></td>
						<td id="pt-sum-icccon-list1-patient"></td>
						<td id="pt-sum-icccon-list1-content"></td>
						<td id="pt-sum-icccon-list1-detail"></td>
					</tr>
					<tr>
						<th colspan="4"> 同意文書</th>
						<td style="text-align: right;">
							<button id="pt-sum-iccon-list-new">新規作成</button>
						</td>
					</tr>
					<tr>
						<td id="pt-sum-icccon-list2-date"></td>
						<td id="pt-sum-icccon-list2-doctor"></td>
						<td id="pt-sum-icccon-list2-patient"></td>
						<td id="pt-sum-icccon-list2-content"></td>
						<td id="pt-sum-icccon-list2-detail"></td>
					</tr>
					<tr>
						<th>年月日</th><th>説明した人</th><th>説明を受けた</th><th>内容</th><th>詳細</th>
					</tr>
				</table>
				<table id="pt-sum-iccon-add-table" width="100%" style="display: none;">
					<tr>
						<th colspan="3"> </th>
					</tr>
					<tr>
						<td>
							<table>
								<tr>
									<th>日付</th>
									<td><input id="pt-sum-iccon-add-date" type="date"></td>
								</tr>
								<tr>
									<th>説明者</th>
									<td><input id="pt-sum-iccon-add-doctor" type="text" size="12" maxlength="20"></td>
								</tr>
							</table>
						</td>
						<td>
							<table>
								<tr>
									<th>タイトル</th>
									<td><input id="pt-sum-iccon-add-title" type="text" size="25" maxlength="30"></td>
								</tr>
								<tr>
									<th>説明を受けた人</th>
									<td><input id="pt-sum-iccon-add-patient" type="text" size="12" maxlength="20"></td>
								</tr>
							</table>
						</td>
						<td style="text-align: center;">
							<button id="pt-sum-iccon-add-back">もどる</button>
						</td>
					</tr>
					<tr>
						<th colspan="3"> </th>
					</tr>
					<tr>
						<th colspan="3">説明内容</th>
					</tr>
					<tr>
						<td colspan="3">
							<textarea id="pt-sum-iccon-add-content" rows="20" style="width:100%" maxlength="65536"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="3" style="text-align: center;">
							<button type="submit" form="pt-sum-iccon-add-form">登録</button>
						</td>
					</tr>
				</table>
				<table id="pt-sum-iccon-new-table" width="100%" style="display: none;">
					<tr>
						<th colspan="4">同意文書新規作成</th>
						<td style="text-align: right;">
							<button id="pt-sum-iccon-new-back">もどる</button>
						</td>
          </tr>
          <tr>
            <th colspan="2">同意文書一覧</th>
          </tr>
          <tr>
            <td>1. 入院同意文書</td>
						<td style="text-align: right;">
							<button id="pt-sum-iccon-new-add">新規作成</button>
						</td>
          </tr>
        </table>
			</div>
		</div>
	</div>
</div>
