<section class="content">
	<div class="container-fluid"> 
		<!-- Main row (Stat box) -->
		<div class="row">
			<div class="col-12">
			<!-- Tab START -->
				<div class="card card-info card-tabs">
					<div class="card-header p-0 pt-1">
						<ul class="nav nav-tabs" id="pt-sum-tab-1-tab" role="tablist">
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title active" id="pt-sum-tab-1-1-tab" data-toggle="pill" href="#pt-sum-tab-1-1" role="tab" aria-controls="pt-sum-tab-1-1" aria-selected="true"><i class="fas fa-portrait"></i>&nbsp;基本情報</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-sum-tab-1-2-tab" data-toggle="pill" href="#pt-sum-tab-1-2" role="tab" aria-controls="pt-sum-tab-1-2" aria-selected="false"><i class="fas fa-user-edit"></i>&nbsp;IC・同意書</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-sum-tab-1-3-tab" data-toggle="pill" href="#pt-sum-tab-1-3" role="tab" aria-controls="pt-sum-tab-1-3" aria-selected="false"><i class="fas fa-file-medical"></i>&nbsp;課題</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-sum-tab-1-4-tab" data-toggle="pill" href="#pt-sum-tab-1-4" role="tab" aria-controls="pt-sum-tab-1-4" aria-selected="false"><i class="fas fa-clipboard-check"></i>&nbsp;書類BOX</a> </li>
							<li class="nav-item" style="max-width: 100%"> <a class="nav-link card-title" id="pt-sum-tab-1-5-tab" data-toggle="pill" href="#pt-sum-tab-1-5" role="tab" aria-controls="pt-sum-tab-1-5" aria-selected="false"><i class="fas fa-file-alt"></i>&nbsp;入退院履歴</a> </li>
						</ul>
					</div>

					<div class="card-body p-0">
						<div class="tab-content" id="pt-karte-tab-1-tabcontent">
							<div id="pt-sum-tab-1-1" class="tab-pane active">
								<mc-pt-sum-outline></mc-pt-sum-outline>
							</div>
							<div id="pt-sum-tab-1-2" class="tab-pane">
								<mc-pt-sum-iccon></mc-pt-sum-iccon>
							</div>
							<div id="pt-sum-tab-1-3" class="tab-pane">
								<mc-pt-sum-task></mc-pt-sum-task>
							</div>
							<div id="pt-sum-tab-1-4" class="tab-pane">
								<mc-pt-sum-docbox></mc-pt-sum-docbox>
							</div>
							<div id="pt-sum-tab-1-5" class="tab-pane">
								<mc-pt-sum-hphistory></mc-pt-sum-hphistory>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>
