
<section class="content">
<div class="container-fluid">
    <div class="col-12">
        <div class="card card-info card-tabs">
            <table id="pt-sum-hphistory-table" class="border-bottom mt-1 table-patient-management-2 table-striped font-size-nml">
                <tr>
                    <th>No</th>
                    <th>入院日</th>
                    <th>退院日</th>
                    <th>日数</th>
                    <th>編集</th>
                </tr>
                <tr id="pt-sum-hphistory-list-item" style="display: none;">
                    <td id="pt-sum-hphistory-num"></td>
                    <td id="pt-sum-hphistory-start_date_time"></td>
                    <td id="pt-sum-hphistory-end_date_time"></td>
                    <td id="pt-sum-hphistory-num_day"></td>
                    <td id="pt-sum-hphistory-button"><button class="btn btn-sm btn-secondary m-3 "data-toggle="modal" data-target="#staticPtSumHospPop-1"  type="button" value="詳細"><i class="fas fa-notes-medical"></i>&nbsp;編集</button>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="staticPtSumHospPop-1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticPtSumHospLabel-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="staticPtSumHospLabel-1"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body modal-body-text border">  </div>
                <form id="pt-sum-hp-form"></form>
                        <input type="hidden" id="pt-sum-hp-enc_id" value="">
                <table>

                    <tr>
                        <th>入院日</th>
                        <td><cmn-date id="pt-sum-hp-start_datetime"></td>
                    </tr><tr>
                        <th>退院日</th>
                        <td><cmn-date  id="pt-sum-hp-end_datetime"></td>
                    </tr><tr>
                        <th>入院時年齢</th>
                        <td><input type="number" id="pt-sum-hp-hosp_start_age">歳</td>
                    </tr><tr>
                        <th>退院時年齢</th>
                        <td><input type="number" id="pt-sum-hp-hosp_end_age">歳</td>
                    </tr><tr>
                        <th>入院方法</th>
                        <td><select id="pt-sum-hp-hosp_way">
                            <option value="1">緊急搬送</option>
                            <option value="2">来院</option>
                        </select></td>
                    </tr><tr>
                        <th>入院経緯</th>
                        <td><input type="text" maxlength="128" id="pt-sum-hp-hosp_way_det"></td>
                    </tr><tr>
                        <th>施設</th>
                        <td><select id="pt-sum-hp-hosp_facility">
                            <option value="1">施設</option>
                            <option value="2">自宅</option>
                        </select></td>
                    </tr><tr>
                        <th>施設名</th>
                        <td><input type="text" maxlength="128" id="pt-sum-hp-hosp_facility_det"></td>
                    </tr><tr>
                        <th>入院状態</th>
                        <td><input type="text" maxlength="512" id="pt-sum-hp-hosp_condition"></td>
                    </tr><tr>
                        <th>life_independence</th>
                        <td><input type="number" id="pt-sum-hp-life_independence"></td>
                    </tr><tr>
                        <th>start_bedsore</th>
                        <td><input type="text" maxlength="16" id="pt-sum-hp-start_bedsore"></td>
                    </tr><tr>
                        <th>start_bedsore_comment</th>
                        <td><input type="text" maxlength="128" id="pt-sum-hp-start_bedsore_comment"></td>
                    </tr><tr>
                        <th>end_bedsore</th>
                        <td><input type="text" maxlength="16" id="pt-sum-hp-end_bedsore"></td>
                    </tr><tr>
                        <th>end_bedsore_comment</th>
                        <td><input type="text" maxlength="128" id="pt-sum-hp-end_bedsore_comment"></td>
                    </tr><tr>
                        <th>体温</th>
                        <td><input type="number" id="pt-sum-hp-hosp_bt"></td>
                    </tr><tr>
                        <th>血圧</th>
                        <td><input type="number" id="pt-sum-hp-hosp_bph">~<input type="number" id="pt-sum-hp-hosp_bpl"></td>
                    </tr><tr>
                        <th>酸素飽和度</th>
                        <td><input type="number" id="pt-sum-hp-hosp_spo2"></td>
                    </tr><tr>
                        <th>バイタルコメント</th>
                        <td><input type="text" maxlength="128" id="pt-sum-hp-vital_comment"></td>
                    </tr><tr>
                        <th>備考</th>
                        <td><input type="text" maxlength="512" id="pt-sum-hp-note"></td>
                    </tr><tr>
                        <td colspan="2"><input type="submit" form="pt-sum-hp-form"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
	<button id="pt-sum-hp-new" class="btn btn-sm btn-secondary m-3" data-toggle="modal" data-target="#staticPtSumHospPop-1"><i class="fas fa-notes-medical"></i>&nbsp;新規作成</button>
</section>
