<div class="row m-3">
	<!-- 処方 -->
	<div class="col-12 table-responsive">
		<table class="table-patient-management-2 border">
			<tbody>
				<tr>
					<th colspan="2"><i class="fas fa-chevron-left mr-1"></i> 5月3週 <i class="fas fa-chevron-right mr-1"></i> </th>
					<th>5/20</th>
					<th>5/21</th>
					<th>5/22</th>
					<th>5/23</th>
					<th>5/24</th>
					<th>5/25</th>
					<th>5/26</th>
				</tr>
				<tr>
					<td colspan="2">0000</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">0000</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">0000</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">0000</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">0000</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">0000</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2" class="border-b">0000</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b" style="background-color: bisque">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
				</tr>
				<tr>
					<th rowspan="4" class="table-color-item">処方</th>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="border-b">テキスト</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b" style="background-color: bisque">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
				</tr>
				<tr>
					<th rowspan="3" class="table-color-item">注射</th>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="border-b">テキスト</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b" style="background-color: bisque">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
				</tr>
				<tr>
					<th rowspan="3" class="table-color-item">食事</th>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="border-b">テキスト</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b" style="background-color: bisque">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
				</tr>
				<tr>
					<th rowspan="4" class="table-color-item">検査</th>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="border-b">テキスト</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b" style="background-color: bisque">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
					<td class="border-b">&nbsp;</td>
				</tr>
				<tr>
					<th rowspan="5" class="table-color-item">看護</th>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>テキスト</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="background-color: bisque">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>