<div class="content-wrapper">
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
					<div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 float-none">
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2">
								<button id="pt-bed-menu" type="button" class="btn btn-sm-menu btn-outline-info active"><i class="fas fa-bed"></i>&nbsp;病床</button>
								<button id="pt-list-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-book-open"></i>&nbsp;一覧</button>
								<button id="pt-add-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-clipboard-check"></i>&nbsp;患者登録</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<mc-pt-bed></mc-pt-bed>
	<mc-pt-list style="display: none;"></mc-pt-list>
	<mc-pt-add style="display: none;"></mc-pt-add>
</div>