<style>
	#pt-orcaid, #pt-name, #pt-gender, #pt-birthday, #pt-age, #pt-bloodtype {
		font-weight: normal;
	}
</style>
<div class="content-wrapper">
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
					<div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 float-none">
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2">
								<button id="pt-karte-menu" type="button" class="btn btn-sm-menu btn-outline-info active"><i class="fas fa-bed"></i>&nbsp;カルテ</button>
								<button id="pt-sum-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-book-open"></i>&nbsp;サマリ</button>
								<button id="pt-order-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-clipboard-check"></i>&nbsp;オーダー</button>
								<button id="pt-nurse-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-clipboard-check"></i>&nbsp;看護</button>
								<button id="pt-reha-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-clipboard-check"></i>&nbsp;リハビリ</button>
								<button id="pt-dt-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-clipboard-check"></i>&nbsp;栄養</button>
								<button id="pt-skd-menu" type="button" class="btn btn-sm-menu btn-outline-info"><i class="fas fa-clipboard-check"></i>&nbsp;スケジュール</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="content">
		<div class="container-fluid">
			<div class="row mb-3 Box-Information">
				<div class="col-lg-auto col-md-auto col-auto BI-photo">
				<img class="img-circle img" src="./dist/img/user1-128x128.jpg" alt="User Image">
			</div>
			<div class="col-lg-8 col-md-8 col-8 BI-text">
				<div class="row">
					<div class="col-md-12 mb-2" style="background-color: #cccccc">
						<div><span>ID:</span> <span id="pt-orcaid"></span></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12 col-md-12 mb-2" style="background-color: #cccccc">
						<div class="row">
							<div class="col-lg-auto col-md-4">
								<div><span>氏名: </span> <span id="pt-name"></span></div>
							</div>
							<div class="col-lg-auto col-md-4">
								<div><span>性別: </span> <span id="pt-gender"></span></div>
							</div>
							<div class="col-lg-auto col-md-4">
								<div><span>生年月日: </span> <span id="pt-birthday"></span></div>
							</div>
							<div class="col-lg-auto col-md-4">
								<div><span>年齢: </span> <span id="pt-age"></span></div>
							</div>
							<div class="col-lg-auto col-md-4">
								<div><span>血液型: </span> <span id="pt-bloodtype"></span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12 col-mb-12" style="background-color: #cccccc">
						<div><span>入院日:</span> <select id="pt-h13ns-day"></select></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<mc-pt-karte></mc-pt-karte>
	<mc-pt-sum style="display: none;"></mc-pt-sum>
	<mc-pt-order style="display: none;"></mc-pt-order>
	<mc-pt-nurse style="display: none;"></mc-pt-nurse>
	<mc-pt-reha style="display: none;"></mc-pt-reha>
	<mc-pt-dt style="display: none;"></mc-pt-dt>
	<mc-pt-skd style="display: none;"></mc-pt-skd>
</div>
