<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注射準備票</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-size: 1.2rem;
            font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="w-100">
            <h1 class="float-start ms-5">注射一覧表</h1>
            <span class="float-end" style="font-weight: bold; font-size: 25px;">{{.OrderDate}}</span>
        </div>

        <table class="table table-striped table-bordered border-secondary">
            <thead>
                <tr class="text-center">
                    <th scope="col" style="width: 25%;">患者名</th>
                    <th scope="col" style="width: 25%;">注射</th>
                    <th scope="col" style="width: 25%;">薬剤準備</th>
                    <th scope="col" style="width: 25%;">備考</th>
                </tr>
            </thead>
            <tbody id="order-inchg-shot-pdf-1-tr">
                {{ range .temps }}
                <tr>
                    <td><span style="font-size: 20px;">{{.RoomNumber}}<br />
                        {{ .FirstName }} {{ .FamilyName }} <br />
                        ({{ .OrcaID }})</td>
                    <td style="font-size: 15px;">
                        ID {{.OrderID}} <br />
                        {{range .OrderInjections}}
                        {{ .InjectionMedName }} {{.InjectionMedQuantum}} <br />
                        {{ end }}
                    </td>
                    <td>
                        {{if .OrderAct }}
                            {{if .OrderAct.ActUser1}}
                                <span style="font-size: 25px;">■</span>
                                {{.OrderAct.ActUser1}} <br />
                                {{.OrderAct.ActDatetime1}}
                            {{ else }}
                                <span style="font-size: 25px;"> □</span>
                            {{end}}
                        {{ else }}
                        <span style="font-size: 25px;"> □</span>
                        {{end}}
                    </td>
                    <td> {{if .Comment}}
                        {{ .Comment }}
                        {{end}}

                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

    <!-- <script language="javascript" type="text/javascript">
        for (row = 0; row < 10; row++) {
            var tr = document.createElement('tr'), td, cell;
            for (cell = 0; cell < 4; cell++) {
                td = document.createElement('td');
                tr.appendChild(td);
                td.textContent = "{{ .Jancode }}";
            }
            document.getElementById('order-inchg-shot-pdf-1-tr').appendChild(tr);
        }
    </script> -->
</body>

<style>
    .keep-together {
        page-break-inside: avoid;
    }

    .break-before {
        page-break-before: always;
    }

    .break-after {
        page-break-after: always;
    }
</style>

</html>