<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注射準備票</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-size: 1.2rem;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <h1 class="text-center">注射準備票</h1>
            </div>
            <div class="col-sm text-end">
                <p>{{.OrderDate}}</p>
            </div>
        </div>

        <table class="table table-bordered border-secondary">
            <tbody>
                <tr>
                    <td style="height: 220px">{{ .PatientInfo }}</td>
                </tr>
                <tr>
                    <td style="height: 30px">注射指示内容</td>
                </tr>
                <tr>
                    <td style="height: 360px">{{.OrderInfo}}</td>
                </tr>
                <tr>
                    <td style="height: 30px">参考</td>
                </tr>
                <tr>
                    <td style="height: 200px">{{.Comment}}</td>
                </tr>
                <tr>
                    <td style="height: 30px">バーコード</td>
                </tr>
                <tr>
                    <td style="height: 200px">ID：{{.Jancode}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>