<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注射準備票</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-size: 1.2rem;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="w-100" style="display: inline-block;">
            <h1 class="float-start ms-5">注射バーコードシール</h1>
            <span class="float-end mt-3 me-5">{{ .OrderDate }}</span>
        </div>
        <div class="text-start mt-5 pt-5">
            <h2>ID: 0123456789123</h2>
            <h2>バーコードジェネレータは開発中</h2>
        </div>
    </div>
</body>
</html>